/* BASE
******************************/

html {
  font-size: 10px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6em; // currently ems cause chrome bug misinterpreting rems on body element
  font-weight: 400;
  line-height: 2.4em;
  color: #111111;
}

/* NAVBAR
******************************/
.navbar {
  border: 0px;
}

.navbar-brand {
  padding: 4px 0;
}
.navbar-header a img.logo-img {
  height: 40px;
}

.icon-bar {
  background-color: white;
}

.nav-item a {
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.nav-item a:hover {
  color: purple;
  background-color: white;
}

@media (min-width: 544px) {
  .navbar {
      border-radius: 0px;
  }
}


/* cryptonomica css */



footer {
    background-color: #dddddd;
}

/* http://stackoverflow.com/a/36426886/1697878 */
/* Then, simply wrap the expression (for ex) in your html:
<span class="capitalize">{{ uppercase_expression }}</span>
No js needed */
.capitalize {
    text-transform: capitalize;
}



.navbar-static-top {
  background-color: purple;
}

.stickyFooter {
  min-height: calc(100vh - 120px); }









/* Links */



/*----- Icons ------------- */


.fa-key {
    /*color: orangered;*/
    /*color: orange;*/
    font-size: 1.3em;
}

.false {
    border-color: red;
    border-style: solid;
    border-width: medium;
}

.true {
    border-color: green;
    border-style: solid;
    border-width: medium;
}

.keyverified {
    color: green;
    text-align: center;
    border-top: solid;
    border-top-color: green;
    border-bottom-color: green !important;
    border-bottom: solid !important;
    padding: 2px !important;
    margin-bottom: 0.5em !important;

}

.keynotverified {
    color: red;
    text-align: center;
    border-top: solid;
    border-top-color: red;
    border-bottom-color: red !important;
    border-bottom: solid !important;
    padding: 2px !important;
    margin-bottom: 0.5em !important;
}

/* temorary icons: */
/*
.fa,
.octicon,
.mega-octicon {
    color: orangered; /**/
/*color: lime;*/
/* lime - #00ff00 */

/*}*/
