<!--
after login user, if already registered, will be redirected to dashboard
if not registered - redirected to registration page with message:
"You are not yet registered member of Cryptonomica"
-->
<div>
    <!-- Navigation -->
    <div class="btn-group" role="group" ng-show="currentUser.registeredCryptonomicaUser">
        <a class="btn btn-secondary" href="/#" role="button">Home</a>
        <a class="btn btn-secondary active" href="/#/dashboard" role="button">Dashboard</a>
        <a class="btn btn-secondary" href="/#/registration" role="button">Registration</a>
        <a class="btn btn-secondary" href="/#/search" role="button">Search</a>
    </div>
    <!-- -->

    <div class="card card-block">
        <h4 class="card-title">Dashboard</h4>
        <p class="card-text">
            This is the users's dashboard.
        </p>
        <a href="#" class="btn btn-secondary-outline">Home</a>
        <hr>
        <!--<input class="country-select" country-select data-ng-model="country">-->
        <!--<div>Selected: {{ country }}</div>-->

        <select ng-model="selectedCountry" pvp-country-picker></select>
        <p>
            {{selectedCountry}}
        </p>

    </div>

</div>


