<script src="https://cdn.webrtc-experiment.com/MediaStreamRecorder.js"></script>

<div id="contextWrap">

    <!-- left sidebar-->
    <left-sidebar></left-sidebar>

    <!--right sidebar-->
    <right-sidebar></right-sidebar>

    <div class="pusher">

        <!--topHeaderMenu -->
        <top-header-menu></top-header-menu>

        <!-- ==== MAIN SECTION ====  -->

        <div class="mainWrap navslide">

            <div class="ui equal width left aligned padded grid stackable">

                <!--Page Content-->

                <div class="stretched row">

                    <div class="column">

                        <!-- Alerts -->
                        <alerts></alerts>

                        <div class="ui segments">

                            <!-- Breadcrumb -->
                            <div id="breadcrumb" class="ui segment">
                                <a class="section" href="" ui-sref-active="active" ui-sref="home">Home</a>
                                <i class="right angle icon divider"></i>
                                <a class="section">Profiles</a>
                                <i class="right angle icon divider"></i>
                                <a class="section" href="" ui-sref-active="active"
                                   ui-sref="viewprofile({userId:pgpPublicKey.cryptonomicaUserId})">
                                    {{pgpPublicKey.firstName | titleCase }}&nbsp;{{pgpPublicKey.lastName | titleCase}}
                                </a>
                                <i class="right angle icon divider"></i>
                                <a class="section" ui-sref-active="active"
                                   ui-sref="key({fingerprint:pgpPublicKey.fingerprint})">
                                    {{keyId}}
                                </a>
                                <i class="right angle icon divider"></i>
                                <a class="section active">Online verification</a>
                            </div>

                            <div class="ui segment">

                                <div id="alerts">

                                    <!-- Errors from server -->
                                    <!--<div id="errorMessage" ng-show="error.message"-->
                                    <!--class="alert alert-danger alert-dismissible" role="alert">-->
                                    <!--{{error.message}}-->
                                    <!--<button type="button" class="close" data-dismiss="alert"-->
                                    <!--aria-label="Close"><span-->
                                    <!--aria-hidden="true">×</span></button>-->
                                    <!--</div>-->

                                    <div id="errorMessage" ng-show="error.message" class="ui negative message">
                                        <i class="close icon" ng-click="error.message=null"></i>
                                        <div class="header">Error:</div>
                                        <p>{{error.message}}</p>
                                    </div>

                                    <!-- Auth error -->
                                    <!--<div id="authError" ng-hide="currentUser.registeredCryptonomicaUser"-->
                                    <!--class="alert alert-danger alert-dismissible"-->
                                    <!--role="alert">-->
                                    <!--User not registered or not logged in-->
                                    <!--<button type="button" class="close" data-dismiss="alert"-->
                                    <!--aria-label="Close"><span-->
                                    <!--aria-hidden="true">×</span></button>-->
                                    <!--</div>-->

                                    <div id="authError" ng-hide="currentUser.registeredCryptonomicaUser"
                                         class="ui negative message">
                                        <i class="close icon" ng-click="error.message=null"></i>
                                        <div class="header">Error:</div>
                                        <p> User not registered or not logged in: try reloading page or click login</p>
                                    </div>

                                    <!-- Messages to user -->
                                    <!--<div id="messageToUser" ng-show="messageToUser"-->
                                    <!--class="alert alert-success alert-dismissible" role="alert">-->
                                    <!--{{messageToUser}}-->
                                    <!--<button type="button" class="close" data-dismiss="alert"-->
                                    <!--aria-label="Close"><span-->
                                    <!--aria-hidden="true">×</span></button>-->
                                    <!--</div>-->

                                    <div id="messageToUser" ng-show="messageToUser" class="ui positive message">
                                        <i class="close icon" ng-click="messageToUser=null"></i>
                                        <!--<div class="header">Success:</div>-->
                                        <p>{{messageToUser}}</p>
                                    </div>

                                    <input type="text" name="errorGate" id="errorGate" ng-model="error.message" hidden>

                                </div>

                                <div id="keyInfo" ng-show="pgpPublicKey">
                                    <!--<hr>-->
                                    <center>
                                        <p>
                                            Verification for key:
                                            <a ui-sref="key({fingerprint:pgpPublicKey.fingerprint})" target="_blank">
                                                {{pgpPublicKey.keyID}}
                                            </a>,
                                            key owner:
                                            <a ui-sref="viewprofile({userId:pgpPublicKey.cryptonomicaUserId})"
                                               target="_blank">
                                                {{pgpPublicKey.userID}}
                                            </a>
                                        </p>
                                    </center>
                                    <!--<hr>-->
                                </div>

                                <div id="mainPart" ng-show="!notAllowed">
                                    <!-- -->
                                    <div id="showTerms" ng-show="showTerms">
                                        <online-verification-terms></online-verification-terms>
                                    </div>
                                    <!-- -->
                                    <div id="verificationDocument" ng-show="verificationDocument">
                                        <!-- using directive does not work: controller can not get element from directive -->
                                        <!-- ( var elementTwo = $window.document.getElementById('fileTwo'); )       -->
                                        <div class="container" id="onlineVerificationDocumentsContainer">
                                            <div class="card">
                                                <div class="card-header">
                                                    <center>
                                                        <h2>Identifcation documents</h2>
                                                    </center>
                                                </div>

                                                <div>

                                                    <form class="ui form">

                                                        <br>
                                                        <!-- User nationality: -->
                                                        <label for="nationality">
                                                            Your nationality (according to passport or similar
                                                            document):
                                                        </label>
                                                        <select id="nationality" name="nationality"
                                                                ng-model="nationality" pvp-country-picker
                                                                class="c-select" ng-required="true"
                                                                ng-change="setFlag()">

                                                        </select>

                                                        <div ng-show="nationality.$invalid || nationality == null"
                                                             style="color: red">
                                                            Please, select your nationality
                                                        </div>
                                                        <!--<div ng-show="nationality.$valid">-->
                                                        <div ng-show="nationality">
                                                            Selected:&nbsp;&nbsp;
                                                            <b>{{nationality}}</b>&nbsp;
                                                            <i ng-class="flag"></i>
                                                        </div>
                                                        <br>
                                                    </form>
                                                    <!-- -->
                                                    <form class="ui form">
                                                        <p>
                                                            Please, upload <b>color</b> documents in good quality image
                                                            (.jpg, .jpeg or .png only) file
                                                        </p>

                                                        <fieldset class="form-group">
                                                            <legend>Your passport</legend>
                                                            <div
                                                                    role="button"
                                                                    type="button"
                                                                    title="Choose image file (PNG, JPEG, GIF, TIFF, or BMP)"
                                                                    class="btn btn-primary">
                                                                <input type="file"
                                                                       class="my-file-input-element form-control-file"
                                                                       id="fileOne">
                                                            </div>
                                                        </fieldset>

                                                        <fieldset class="form-group">
                                                            <legend>Your second ID document (driver licence, national ID
                                                                etc.)
                                                            </legend>
                                                            <div
                                                                    role="button"
                                                                    type="button"
                                                                    title="Choose image file (PNG, JPEG, GIF, TIFF, or BMP)"
                                                                    class="btn btn-primary">
                                                                <input type="file"
                                                                       class="my-file-input-element form-control-file"
                                                                       id="fileTwo">
                                                            </div>
                                                        </fieldset>

                                                        <!--<fieldset class="form-group">-->
                                                        <br>
                                                        <button ng-click="uploadDocs()" class="ui button">
                                                            Upload documents
                                                        </button>

                                                        <!--</fieldset>-->

                                                    </form>
                                                </div>
                                            </div>

                                            <div class="row" ng-show="verificationDocsUrls.length > 0">
                                                <div class="col-xs-12 col-md-12">
                                                    <center>Please check if your images are visible:</center>
                                                </div>
                                            </div>
                                            <div class="row" ng-show="verificationDocsUrls.length > 0">
                                                <div class="col-xs-6 col-md-6">
                                                    <a ng-href="{{verificationDocsUrls[0]}}" class="imageLink"
                                                       target="_blank">
                                                        <img id="doc1" ng-src="{{verificationDocsUrls[0]}}"
                                                             class="img-fluid"/>
                                                    </a>
                                                </div>
                                                <div class="col-xs-6 col-md-6">
                                                    <a ng-href="{{verificationDocsUrls[1]}}" class="imageLink"
                                                       target="_blank">
                                                        <img id="doc2" ng-src="{{verificationDocsUrls[1]}}"
                                                             class="img-fluid"/>
                                                    </a>
                                                </div>
                                            </div>

                                            <br>
                                            <button name="button" class="ui positive button"
                                                    ng-click="getOnlineVerification()">
                                                Next Step >>>
                                            </button>
                                            <br><br>

                                        </div>
                                    </div>
                                    <!-- -->
                                    <div id="verificationVideo" ng-show="verificationVideo">
                                        <online-verification-video></online-verification-video>
                                    </div>
                                    <!-- -->
                                    <div id="phoneVerification" ng-show="phoneVerification">
                                        <sms-check></sms-check>
                                    </div>
                                    <!-- -->
                                    <div id="stripePaymentForOnlineKeyVerification"
                                         ng-show="stripePaymentForOnlineKeyVerification">
                                        <stripe-payment-for-online-key-verification></stripe-payment-for-online-key-verification>
                                    </div>
                                    <!-- -->
                                    <div id="stripePaymentVerificationCode" ng-show="stripePaymentVerificationCode">
                                        <stripe-payment-verification-code></stripe-payment-verification-code>
                                    </div>
                                    <!-- -->
                                </div>

                            </div>

                        </div>

                        <!-- FOOTER -->
                        <footer-main></footer-main>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

