<header-main-menu></header-main-menu>
<navigation-menu></navigation-menu>
<div class="container">
    <!-- Alerts -->
    <alerts></alerts>

    <!-- Main part -->
    <br>
    <h4>Online verification data for {{onlineVerification.keyID}}</h4>

    <table class="table table-bordered table-hover">
        <!-- for Bootstrap4 table see: http://www.quackit.com/bootstrap/bootstrap_4/tutorial/bootstrap_tables.cfm -->
        <tbody>
        <tr>
            <td>Key fingerprint:</td>
            <td class="capitalize">
                <a ui-sref="key({fingerprint: onlineVerification.fingerprint})">
                    {{onlineVerification.fingerprint}}
                </a>
            </td>
        </tr>
        <tr>
            <td>First Name:</td>
            <td class="capitalize">{{onlineVerification.firstName}}</td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td class="capitalize">{{onlineVerification.lastName}}</td>
        </tr>
        <tr>
            <td>Birthday:</td>
            <td>{{onlineVerification.birthday | date}}</td>
        </tr>
        <tr>
            <td>Nationality:</td>
            <td>{{onlineVerification.nationality}}</td>
        </tr>
        <tr>
            <td>Google Account (email):</td>
            <td>
                <a ui-sref="viewprofile({userId: onlineVerification.cryptonomicaUserId})">
                    {{onlineVerification.userEmail}}
                </a>

            </td>
        </tr>
        <tr>
            <td>Phone Number:</td>
            <td>
                {{onlineVerification.phoneNumber}}
            </td>
        </tr>
        <tr>
            <td>Stripe Payment For Key Verification Id:</td>
            <td>
                {{onlineVerification.stripePaymentForKeyVerificationId}}
            </td>
        </tr>
        <tr>
            <td>Payment Verified:</td>
            <td>
                {{onlineVerification.paymentVerified}}
            </td>
        </tr>
        <tr>
            <td>Verification started:</td>
            <td>{{onlineVerification.entityCreated | date}}</td>
        </tr>
        <tr>
            <td>Verified On:</td>
            <td>{{onlineVerification.verifiedOn | date}}</td>
        </tr>
        <tr>
            <td>Verified By:</td>
            <td>
                <a ui-sref="viewprofile({userId: onlineVerification.verifiedById})">
                    {{onlineVerification.verifiedByFirstNameLastName}}
                </a>
            </td>
        </tr>

        </tbody>
    </table>

    <!-- Verification Documents -->
    <div class="row">
        <center>
            <h3>Verification documents:</h3>
        </center>
    </div>
    <div id="verificationDocuments" class="row">

        <div class="col-xs-6 col-md-6">
            <a ng-href="https://cryptonomica.net/docs?verificationDocumentId={{onlineVerification.verificationDocumentsArray[0]}}"
               class="imageLink"
               target="_blank">
                <img id="doc1"
                     ng-src="https://cryptonomica.net/docs?verificationDocumentId={{onlineVerification.verificationDocumentsArray[0]}}"
                     class="verificationDoc"/>
            </a>
        </div>

        <div class="col-xs-6 col-md-6">
            <a ng-href="https://cryptonomica.net/docs?verificationDocumentId={{onlineVerification.verificationDocumentsArray[1]}}"
               class="imageLink"
               target="_blank">
                <img id="doc2"
                     ng-src="https://cryptonomica.net/docs?verificationDocumentId={{onlineVerification.verificationDocumentsArray[1]}}"
                     class="verificationDoc"/>
            </a>
        </div>
    </div>

    <hr>

    <!-- Verification Video: -->
    <div id="verificationVideo" class="row">
        <div class="embed-responsive embed-responsive-16by9">
            <a href="" target="_blank" id="linkToVideoOnServer">
                <video id="videoFromServer"
                       ng-src="{{videoUrl}}"
                       controls class="embed-responsive-item">
                </video>
            </a>
        </div>
    </div>

    <hr>

    <div id="approve" ng-show="currentUser.cryptonomicaOfficer">

        <p>(you see this because you are cryptonomica compliance officer)</p>

        <div id="approveResponse" ng-show="approveResponse" class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span ng-click="approveResponse=null">&times;</span></button>
            {{approveResponse}}
        </div>

        <div ng-show="approveResponseError" class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span ng-click="approveResponseError=null">&times;</span>
            </button>
            {{approveResponseError}}
        </div>

        <form>
            <fieldset class="form-group">

                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" ng-model="onlineVerificationApproved">
                        Approve data entered for online verificaiton
                    </label>
                </div>
                <br>
                <label for="verificationNotes">Verification notes: </label>
                <input id="verificationNotes" type="text" class="form-control" ng-model="verificationNotes">
                <br>
                <button ng-click="approve()"
                        role="button" type="button" class="btn btn-secondary">
                    Approve
                </button>
            </fieldset>
        </form>
    </div>

</div>
<!-- Footer -->
<footer-main></footer-main>
