<!-- moved to controller
<script>
    $('.menu .item').tab();
</script>
-->

<style>
    .segment {
        font-size: 100% !important;
    }
</style>

<div class="ui container">

    <center id="header">

        <h1 class="ui header" style="margin-top: 0.3em; margin-bottom: 0em">
            eth-sign
        </h1>
        <div style="font-weight: bold; font-size: 110%;">
            [ by
            <a href="https://cryptonomica.net" title="back to cryptonomica home page"
               target="_blank">cryptonomica.net</a>
            ]
        </div>
        <!--<div class="ui header" style="margin-top: 0.1em;color: #666666">-->
        <div class="ui header" style="color: #666666;margin-top: 0.3em">
            Sign a text or file using your Ethereum address key and verify signatures
        </div>

        <no-connection-to-node-error></no-connection-to-node-error>
        <alerts></alerts>

    </center>

    <div class="ui top attached tabular menu" style="font-size: 100%;">

        <a class="item active" data-tab="signTab">
            <!--<i class="edit icon"></i>&nbsp;-->
            Sign Text
        </a>

        <a class="item" data-tab="verifyTab">
            <!--<i class="search icon"></i>&nbsp;-->
            Verify Text Signature
        </a>

        <a class="item" data-tab="signFileTab">
            <!--<i class="edit icon"></i>&nbsp;-->
            Sign File
        </a>

        <a class="item" data-tab="verifyFileSignatureTab">
            <!--<i class="edit icon"></i>&nbsp;-->
            Verify File Signature
        </a>

        <a class="item" data-tab="helpTab">
            <!--<i class="question icon"></i>&nbsp;-->
            FAQ
        </a>

    </div>

    <div id="signTab" class="ui bottom attached tab segment active" data-tab="signTab">
        <br>
        <form id="signForm" class="ui form">

            <div class="field">
                <!--<label><i class="file alternate outline icon"></i>&nbsp;Text to sign:</label>-->
                <h3><i class="file alternate outline icon"></i>&nbsp;Text to sign:</h3>

                <div class="two fields">

                    <div class="field">
                        <!--// onReadFile directive (see app/directives/directives.js)-->
                        <!--// readFileContent = $scope.readFileContent-->
                        <input type="file" class="mini ui button" on-read-file="readFileContent($fileContent)"/>
                    </div>

                    <div class="field"></div>

                </div>

                <textarea id="messageToSign" rows="5" ng-model="messageToSign"></textarea>

            </div>

            <p ng-show="web3.eth.defaultAccount">
                Your Ethereum account / key &nbsp;<i class="key icon"></i>&nbsp;
                <a ng-href="{{currentNetwork.etherscanLinkPrefix}}address/{{web3.eth.defaultAccount}}" target="_blank"
                   title="Click to see on etherscan">
                    {{web3.eth.defaultAccount}}
                </a>
            </p>

            <button class="ui secondary button" type="submit" ng-click="signMessage()">
                <!--<button class="ui inverted green button" type="submit" ng-click="signMessage()">-->
                <i class="edit icon"></i>&nbsp;&nbsp;
                Sign&nbsp;&nbsp;
            </button>
            <button class="ui inverted red button" ng-click="simplemde.value('')">
                <!--<button class="ui button" ng-click="simplemde.value('')">-->
                Delete editor content
            </button>
            <br><br>

            <div class="line" ng-show="signedMessage||signature"></div>

            <div class="field" ng-show="signedMessage">
                <label>Signed text:</label>
                <textarea id="signedText" rows="5" ng-model="signedMessage" disabled></textarea>
                <br>
                <button class="ui button" ng-click="copySignedTextToClipboard()">
                    Copy signed text to clipboard
                </button>
                &nbsp;&nbsp;
                <button class="ui button" ng-click="saveSignedTextToFile()">
                    Save as file
                </button>
                &nbsp;&nbsp;
            </div>

            <div class="field" ng-show="signature">
                <label>Signature:</label>
                <!--<div class="ui action input">-->
                <input id="signature" type="text" ng-model="signature" disabled>
                <!--</div>-->
                <br>
                <button class="ui button" ng-click="copySignatureToClipboard()">Copy signature to clipboard</button>&nbsp;&nbsp;
                <button class="ui button" ng-click="saveSignatureToFile()">Save signature to file</button>&nbsp;&nbsp;
                <button class="ui button" ng-click="signClear()">Delete signed text and signature</button>
                <br><br>
            </div>

        </form>

    </div>

    <div id="verifyTab" class="ui bottom attached tab segment" data-tab="verifyTab">

        <!--<div ng-include="'app/home/verify.html'"></div>-->
        <!-- (!!!) does not work with ng-include -->

        <br>
        <form id="verificationForm" class="ui form">

            <div class="field">

                <h3><i class="file alternate outline icon"></i>&nbsp;Signed text:</h3>

                <!--<div class="two fields">-->
                <div class="field" style="margin-bottom: 0.2em">
                    <!--// onReadFile directive (see app/directives/directives.js)-->
                    <!--// readFileContent = $scope.readFileContent-->
                    <input type="file" class="mini ui button"
                           on-read-file="readFileForVerificationContent($fileContent)"/>
                </div>
                <!--<div class="field"></div>-->
                <!--</div>-->
                <div style="margin-bottom: 0.3em; margin-top: 0.1em;font-weight: bold">
                    paste text here or import from file:
                </div>
                <textarea rows="5" ng-model="signedMessageForVerification"></textarea>
            </div>

            <div class="field">

                <label>Signature</label>
                <div class="ui left icon input">
                    <i class="edit icon"></i>
                    <input type="text" ng-model="signatureForVerification">
                </div>
                <div style="margin-top: 0.5em">
                    <button class="ui secondary button" type="submit" ng-click="verifySignature()">
                        <!--<button class="ui button" type="submit" ng-click="verifySignature()">-->
                        <span ng-show="verifyWorking">
                            <i class="sync loading icon"></i>&nbsp;
                        </span>
                        Verify Signature
                    </button>
                    <button class="ui button" type="submit" ng-click="signatureForVerification=null">
                        Clear Signature
                    </button>
                </div>
                <br><br>

                <div class="field">
                    <label>Signed by:</label>
                    <div class="ui right action left icon input">
                        <i class="key icon"></i>
                        <input id="signatoryAddress" type="text" ng-model="signatoryAddress" disabled>
                        <button class="ui button" ng-click="copySignatoryAddressToClipboard()"
                                ng-disabled="!signatoryAddress">
                            Copy to clipboard
                        </button>
                    </div>
                </div>

                <div ng-show="signatory">

                    <div ng-show="signatory.verificationAddedOn>0">

                        <div style="font-weight: bold">Signatory:</div>

                        {{signatory.firstName}}&nbsp;{{signatory.lastName}}<br>
                        birthdate:&nbsp;{{signatory.birthDate | date:'yyyy-MM-dd'}}&nbsp;, nationality:&nbsp;
                        <a href="" ng-href="https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2#{{signatory.nationality}}"
                           target="_blank">
                            {{signatory.nationality}}
                        </a><br>

                        OpenPGP public key:&nbsp;
                        <!--<a href="" ng-href="https://cryptonomica.net/#!/key/{{signatory.fingerprint}}" target="_blank">-->
                        <a href="" ng-href="https://cryptonomica.net/#!/key/{{signatory.fingerprint}}"
                           target="_blank">
                            {{signatory.fingerprint}}
                            <!--{{signatory.fingerprint}}-->
                        </a><br>

                        Key certificate valid until:&nbsp;
                        <span ng-style="signatory.openPGPkeyCertificateExpired && {'color':'red'}">
                        {{signatory.keyCertificateValidUntilDate | date:'yyyy-MM-dd'}}
                    </span><br>

                        <span ng-show="signatory.revokedOn>0" style="color: red;">
                            Key certificate revoked on:&nbsp;{{signatory.revokedOnDate | date:'yyyy-MM-dd'}}
                    </span>
                        <br>
                        <div>
                            Information provided by
                            <a href="" ng-href="{{currentNetwork.etherscanLinkPrefix}}address/{{contract._address}}"
                               target="_blank" title="Click to see on etherscan">
                                Cryptonomica Verification smart contract
                            </a><br>
                            You also can verify your identity and register a key via
                            <a href="https://www.cryptonomica.net" target="_blank">
                                Cryptonomica.net
                            </a>
                        </div>

                    </div>

                </div>

                <div ng-show="signatoryAddressUnknown">
                    <br>
                    Address
                    <a ng-href="{{currentNetwork.etherscanLinkPrefix}}address/{{signatoryAddress}}" target="_blank"
                       title="Click to see on etherscan">
                        {{signatoryAddress}}
                    </a>
                    is unknown or unverified <br>
                    <!--(or the signature and the text do not match, or they are not real)<br>-->
                    If this is a real address, you can offer its owner to register it address via
                    <!--<a href="https://www.cryptonomica.net/#!/verifyEthAddress/">cryptonomica.net</a>-->
                    <a href="https://cryptonomica.net/#!/verifyEthAddress/" target="_blank">cryptonomica </a>
                    smart contract.
                </div>
            </div>

        </form>

    </div>

    <div id="signFileTab" class="ui bottom attached tab segment" data-tab="signFileTab">
        <br>
        <form id="signFileForm" class="ui form">

            <div class="field">

                <h3><i class="file alternate outline icon"></i>&nbsp;File to sign:</h3>
                <p>
                    The maximum file size depends on the power of your computer. It is recommended to work with files no
                    more than 2 megabytes.
                </p>

                <div class="two fields">
                    <div class="field">
                        <!--// onReadFile directive (see app/directives/directives.js)-->
                        <!--// readFileContent = $scope.readFileContent-->
                        <!--<input type="file" class="mini ui button" on-read-file="readBinaryFile($fileContent)"/>-->

                        <input id="binaryFileToSignInput" type="file"
                               class="mini ui button" on-read-binary-file="readBinaryFile($fileContent)"/>

                    </div>
                    <div class="field"></div>
                </div>

                <div ng-show="binaryFileToSign">

                    <!--<a ng-href="{{binaryFileToSign.objectURL}}" target="_blank">{{binaryFileToSign.name}}</a><br>-->
                    File size: {{binaryFileToSign.size | Filesize}}<br>
                    File type: {{binaryFileToSign.type}}<br>
                    File last modified: {{binaryFileToSign.lastModifiedDate}}<br>

                    <a ng-href="{{binaryFileToSign.objectURL}}" target="_blank">
                        <img id="previewBinaryFileToSign" style="width:20em;">
                    </a>

                    <a ng-href="{{binaryFileToSign.objectURL}}" target="_blank">
                        <iframe id="previewPdfFileToSign" frameborder="0"
                                style="border:0; top:0px; left:0px; bottom:0px; right:0px; width:100%; height:40em;"
                                allowfullscreen></iframe>
                    </a>

                    <div class="line"></div>
                </div>


            </div>

            <p ng-show="web3.eth.defaultAccount">
                Your Ethereum account / key &nbsp;<i class="key icon"></i>&nbsp;
                <a ng-href="{{currentNetwork.etherscanLinkPrefix}}address/{{web3.eth.defaultAccount}}" target="_blank"
                   title="Click to see on etherscan">
                    {{web3.eth.defaultAccount}}
                </a>
            </p>

            <button class="ui secondary button" type="submit" ng-click="signBinaryFile()"
                    ng-disabled="!binaryFileToSign||!binaryFileToSign.fileContent">
                <i class="edit icon"></i>&nbsp;&nbsp;
                Sign File &nbsp;&nbsp;
            </button>

            <button class="ui inverted red button" ng-click="deleteBinaryFile()"
                    ng-disabled="!binaryFileToSign||!binaryFileToSign.fileContent">
                Delete file
            </button>

            <br><br>

            <div class="line" ng-show="binaryFileSignature"></div>
            <div class="field" ng-show="binaryFileSignature">
                <label>Signature:</label>
                <!--<div class="ui action input">-->
                <input id="binaryFileSignature" type="text" ng-model="binaryFileSignature" disabled>
                <!--</div>-->
                <br>
                <button class="ui button" ng-click="copyFileSignatureToClipboard()">Copy signature to clipboard
                </button>&nbsp;&nbsp;
                <button class="ui button" ng-click="saveToFile(binaryFileSignature)">Save signature to file</button>&nbsp;&nbsp;
                <button class="ui button" ng-click="deleteBinaryFileAndSignature()">Delete signed file and signature
                </button>
                <br><br>
            </div>

        </form>

    </div>

    <div id="verifyFileSignatureTab" class="ui bottom attached tab segment" data-tab="verifyFileSignatureTab">

        <br>
        <form id="fileSignatureVerificationForm" class="ui form">

            <div class="field">
                <h3><i class="file alternate outline icon"></i>&nbsp;Signed file:</h3>
                <div class="field" style="margin-bottom: 0.2em">
                    <!--// onReadFile directive (see app/directives/directives.js)-->
                    <!--// readFileContent = $scope.readFileContent-->
                    <input type="file" class="mini ui button"
                           on-read-binary-file="readBinaryFileForVerification($fileContent)"/>
                </div>

            </div>

            <div class="field">

                <label>Signature</label>

                <div class="ui left icon input">
                    <i class="edit icon"></i>
                    <input type="text" ng-model="binaryFileSignatureForVerification">
                </div>

                <div style="margin-top: 0.5em">

                    <button class="ui secondary button" type="submit" ng-click="verifyBinaryFileSignature()">
                        <span ng-show="verifyBinaryFileSignatureIsWorking">
                            <i class="sync loading icon"></i>&nbsp;
                        </span>
                        Verify Signature
                    </button>
                    <button class="ui button" type="submit"
                            ng-click="binaryFileSignatureForVerification=null">
                        Clear Signature
                    </button>

                </div>
                <br><br>

                <div class="field">
                    <label>Signed by:</label>
                    <div class="ui right action left icon input">
                        <i class="key icon"></i>
                        <input id="binaryFileSignatoryAddress" type="text" ng-model="binaryFileSignatoryAddress"
                               disabled>
                        <button class="ui button" ng-click="copyBinaryFileSignatoryAddressToClipboard()"
                                ng-disabled="!binaryFileSignatoryAddress">
                            Copy to clipboard
                        </button>
                    </div>
                </div>

                <div ng-show="binaryFileSignatory">

                    <div ng-show="binaryFileSignatory.verificationAddedOn>0">

                        <div style="font-weight: bold">Signatory:</div>

                        {{binaryFileSignatory.firstName}}&nbsp;{{binaryFileSignatory.lastName}}<br>
                        birthdate:&nbsp;{{binaryFileSignatory.birthDate | date:'yyyy-MM-dd'}}&nbsp;, nationality:&nbsp;
                        <a href=""
                           ng-href="https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2#{{binaryFileSignatory.nationality}}"
                           target="_blank">
                            {{binaryFileSignatory.nationality}}
                        </a><br>

                        OpenPGP public key:&nbsp;
                        <!--<a href="" ng-href="https://cryptonomica.net/#!/key/{{signatory.fingerprint}}" target="_blank">-->
                        <a href="" ng-href="https://cryptonomica.net/#!/key/{{binaryFileSignatory.fingerprint}}"
                           target="_blank">
                            {{binaryFileSignatory.fingerprint}}
                            <!--{{signatory.fingerprint}}-->
                        </a><br>

                        Key certificate valid until:&nbsp;
                        <span ng-style="binaryFileSignatory.openPGPkeyCertificateExpired && {'color':'red'}">
                        {{binaryFileSignatory.keyCertificateValidUntilDate | date:'yyyy-MM-dd'}}
                    </span><br>

                        <span ng-show="binaryFileSignatory.revokedOn>0" style="color: red;">
                            Key certificate revoked on:&nbsp;{{binaryFileSignatory.revokedOnDate | date:'yyyy-MM-dd'}}
                    </span>
                        <br>
                        <div>
                            Information provided by
                            <a href="" ng-href="{{currentNetwork.etherscanLinkPrefix}}address/{{contract._address}}"
                               target="_blank" title="Click to see on etherscan">
                                Cryptonomica Verification smart contract
                            </a><br>
                            You also can verify your identity and register a key via
                            <a href="https://www.cryptonomica.net" target="_blank">
                                Cryptonomica.net
                            </a>
                        </div>

                    </div>

                </div>

                <div ng-show="binaryFileSignatoryAddressUnknown">
                    <br>
                    Address
                    <a ng-href="{{currentNetwork.etherscanLinkPrefix}}address/{{binaryFileSignatoryAddress}}"
                       target="_blank"
                       title="Click to see on etherscan">
                        {{binaryFileSignatoryAddress}}
                    </a>
                    is unknown or unverified <br>
                    <!--(or the signature and the text do not match, or they are not real)<br>-->
                    If this is a real address, you can offer its owner to register it address via
                    <a href="https://cryptonomica.net/#!/verifyEthAddress/" target="_blank">cryptonomica </a>
                    smart contract.
                </div>
            </div>

        </form>

    </div>

    <div id="helpTab" class="ui bottom attached tab segment" data-tab="helpTab">

        <!--<div ng-include="'app/home/faq.html'"></div>-->
        <h3># Do I have to send transactions to blockchain to sign or to verify signatures? And do I need ETH to pay for
            gas?</h3>

        <p>No. Singing and signature check is made in your browser.</p>

        <p>Information about key owner is read from blockchain, without sending transactions. So you do not need ETH do
            use
            this application.</p>

        <h3># Which Ethereum clients are supported?</h3>

        <p>
            Currently this webapp works with
            <a href="https://metamask.io" target="_blank">
                MetaMask
            </a>
            browser plugin on desktop (Chrome, Firefox, Opera, Brave) and mobile (Firefox). Signing (but not signature
            verification) works in
            <a href="https://trustwallet.com">
                Trust Wallet
            </a>.
            It does not work on <a href="https://github.com/ethereum/mist/releases">Mist</a>, yet.
        </p>

        <h3># Where can I get support?</h3>

        <p>Support email: <a href="mailto:support@cryptonomica.zendesk.com">support@cryptonomica.zendesk.com</a>

        <p>You can also find us on social media:</p>
        <p>

            <a href="https://github.com/Cryptonomica" title="Cryptonomica on Github" target="_blank">
                <i class="github icon socialLogo"></i>
            </a>&nbsp;&nbsp;

            <a href="https://t.me/cryptonomicanet" title="Cryptonomica Telegram Group" target="_blank">
                <i class="telegram icon socialLogo"></i>
            </a>&nbsp;&nbsp;

            <a href="https://www.reddit.com/r/cryptonomica/" title="Cryptonomica on Reddit" target="_blank">
                <i class="reddit icon socialLogo"></i>
            </a>&nbsp;&nbsp;

            <a href="https://www.facebook.com/groups/cryptonomica/" title="Cryptonomica Facebook Group"
               target="_blank">
                <i class="facebook icon socialLogo"></i>
            </a>&nbsp;&nbsp;

            <a href="https://angel.co/iacc-1" title="Cryptonomica on AngelList" target="_blank">
                <i class="angellist icon socialLogo"></i>
            </a>&nbsp;&nbsp;

            <a href="https://medium.com/cryptonomica" title="Cryptonomica on Medium"
               target="_blank">
                <i class="medium icon socialLogo"></i>
            </a>&nbsp;&nbsp;
        </p>

        <h3># How else can you use verified EHT accounts/keys except for digital signatures?</h3>

        <p>They can be used in smart contracts and for verification on distributed application.</p>

        <p>See for example how SONM uses ETH keys verified via Cryptonomica:
            <a href="https://docs.sonm.com/how-to/how-to-pass-kyc-by-cryptonomica" target="_blank">
                How to pass KYC with Cryptonomica
            </a>
            (it is also a good manual on how to pass verification on Cryptonomica)</p>
        <br><br>

    </div>

    <!-- ------------------ -->

    <div id="info" class="ui segment">

         <span ng-show="web3.eth.defaultAccount">
                User ETH account detected:&nbsp;&nbsp;
                <a ng-href="{{currentNetwork.etherscanLinkPrefix}}address/{{web3.eth.defaultAccount}}" target="_blank">
                    {{web3.eth.defaultAccount}}
                </a>
         </span>
        <br>
        Network ID:&nbsp{{currentNetwork.network_id}}&nbsp(
        <a ng-href="{{currentNetwork.etherscanLinkPrefix}}" target="_blank">{{currentNetwork.networkName}}</a>)
        <br>

        <div class="ui divider"></div>
        <div class="ui right">
            &nbsp;
            <!--Find this dApp on:&nbsp;-->
            <div class="ui tiny right floated images">
                <a href="https://github.com/Cryptonomica/cryptonomica/tree/master/src/main/webapp/eth-sign"
                   target="_blank"
                   title="This dApp on Github">
                    <img class="ui image" style="opacity: 0.45;" src="app/img/github/GitHub_Logo.png">
                </a>&nbsp;&nbsp;
                <a href="https://www.stateofthedapps.com/dapps/cryptonomica-eth-sign" target="_blank"
                   title="This dApp on State of the DApps">&nbsp;
                    <img class="ui image" style="opacity: 0.45;" src="app/img/SD/logo-superblack.svg">
                </a>
            </div>
        </div>


        <!--Web3.js ver.: {{web3.version}}-->

        <!--<i class="grey cog loading icon"></i>on <a href="https://cryptonomica.net">cryptonomica.net</a><br>-->
    </div>
    <br>

</div>