<!-- moved to controller
<script>
    $('.menu .item').tab();
</script>
-->

<style>
    .segment {
        font-size: 120% !important;
    }
</style>

<div class="ui container">

    <center>
        <h1 class="ui header" style="margin-top: 0.3em; margin-bottom: 0em">
            eth-sign
        </h1>
        <div style="font-weight: bold; font-size: 110%;">
            [ by
            <a href="https://cryptonomica.net" title="back to cryptonomica home page"
               target="_blank">cryptonomica.net</a>
            ]
        </div>
        <!--<div class="ui header" style="margin-top: 0.1em;color: #666666">-->
        <div class="ui header" style="color: #666666;margin-top: 0.3em">
            Sign a text using your Ethereum address key and verify signatures
        </div>
    </center>

    <div class="ui top attached tabular menu">
        <a class="item active" data-tab="signTab">Sign Text</a>
        <a class="item" data-tab="verifyTab">Verify Signature</a>
        <a class="item" data-tab="helpTab">FAQ</a>
    </div>

    <div id="signTab" class="ui bottom attached tab segment active" data-tab="signTab">

        <no-connection-to-node-error></no-connection-to-node-error>
        <alerts></alerts>

        <br>
        <form id="signForm" class="ui form">

            <div class="field">
                <label><i class="file alternate outline icon"></i>&nbsp;Text to sign:</label>
                <textarea rows="5" ng-model="messageToSign"></textarea>
            </div>

            <p ng-show="web3.eth.defaultAccount">
                Your Ethereum account / key &nbsp;<i class="key icon"></i>&nbsp;
                <a ng-href="{{currentNetwork.etherscanLinkPrefix}}address/{{web3.eth.defaultAccount}}" target="_blank"
                   title="Click to see on etherscan">
                    {{web3.eth.defaultAccount}}
                </a>
            </p>

            <button class="ui secondary button" type="submit" ng-click="signMessage()">
                Sign
            </button>
            <br><br>

            <div class="line" ng-show="signedMessage||signature"></div>

            <div class="field" ng-show="signedMessage">
                <label>Signed text:</label>
                <textarea id="signedText" rows="5" ng-model="signedMessage" disabled></textarea>
                <br>
                <button class="ui button" ng-click="copySignedTextToClipboard()">Copy signed text to clipboard</button>&nbsp;&nbsp;
            </div>

            <div class="field" ng-show="signature">
                <label>Signature:</label>
                <!--<div class="ui action input">-->
                <input id="signature" type="text" ng-model="signature" disabled>
                <!--</div>-->
                <br>
                <button class="ui button" ng-click="copySignatureToClipboard()">Copy signature to clipboard</button>&nbsp;&nbsp;
                <button class="ui button" ng-click="signClear()">Clear</button>
            </div>

        </form>

    </div>

    <div id="verifyTab" class="ui bottom attached tab segment" data-tab="verifyTab">

        <no-connection-to-node-error></no-connection-to-node-error>
        <alerts></alerts>

        <br>
        <form id="verificationForm" class="ui form">

            <div class="field">
                <label><i class="file alternate outline icon"></i>&nbsp;Signed text:</label>
                <textarea rows="5" ng-model="signedMessageForVerification"></textarea>
            </div>

            <div class="field">
                <label>Signature</label>
                <input type="text" ng-model="signatureForVerification">
            </div>

            <button class="ui button" type="submit" ng-click="verifySignature()">
                Verify Signature
            </button>
            <br><br>

            <div class="field">
                <label>Signed by:</label>
                <div class="ui left icon input">
                    <input type="text" ng-model="signatoryAddress" disabled>
                    <i class="key icon"></i>
                </div>
            </div>

            <div ng-show="signatory">

                <div ng-show="signatory.verificationAddedOn>0">

                    <div style="font-weight: bold">Signatory:</div>

                    {{signatory.firstName}}&nbsp;{{signatory.lastName}}<br>
                    birthdate:&nbsp;{{signatory.birthDate | date:'yyyy-MM-dd'}}&nbsp;, nationality:&nbsp;
                    <a href="" ng-href="https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2#{{signatory.nationality}}"
                       target="_blank">
                        {{signatory.nationality}}
                    </a><br>

                    OpenPGP public key:&nbsp;
                    <!--<a href="" ng-href="https://cryptonomica.net/#!/key/{{signatory.fingerprint}}" target="_blank">-->
                    <a href="" ng-href="https://cryptonomica.net/#!/key/{{signatory.fingerprint}}"
                       target="_blank">
                        {{signatory.fingerprint}}
                        <!--{{signatory.fingerprint}}-->
                    </a><br>

                    Key certificate valid until:&nbsp;
                    <span ng-style="signatory.openPGPkeyCertificateExpired && {'color':'red'}">
                        {{signatory.keyCertificateValidUntilDate | date:'yyyy-MM-dd'}}
                    </span><br>

                    <span ng-show="signatory.revokedOn>0" style="color: red;">
                            Key certificate revoked on:&nbsp;{{signatory.revokedOnDate | date:'yyyy-MM-dd'}}
                    </span>
                    <br>
                    <div>
                        Information provided by
                        <a href="" ng-href="{{currentNetwork.etherscanLinkPrefix}}address/{{contract._address}}"
                           target="_blank" title="Click to see on etherscan">
                            Cryptonomica Verification smart contract
                        </a><br>
                        You also can verify your identity and register a key via
                        <a href="https://www.cryptonomica.net" target="_blank">
                            Cryptonomica.net
                        </a>
                    </div>

                </div>

            </div>

            <div ng-show="signatoryAddressUnknown">
                <br>
                Address
                <a ng-href="{{currentNetwork.etherscanLinkPrefix}}address/{{signatoryAddress}}" target="_blank"
                   title="Click to see on etherscan">
                    {{signatoryAddress}}
                </a>
                is unknown or unverified <br>
                (or the signature and the text do not match, or they are not real)<br>
                If this is a real address, you can offer its owner to register it address via
                <!--<a href="https://www.cryptonomica.net/#!/verifyEthAddress/">cryptonomica.net</a>-->
                <a href="https://cryptonomica.net/#!/verifyEthAddress/" target="_blank">cryptonomica </a>
                smart contract.
            </div>

        </form>

    </div>

    <div id="helpTab" class="ui bottom attached tab segment" data-tab="helpTab">

        <!--<md ng-include="'app/home/faq.md'"></md>-->
        <h3>Do I have to send transactions to blockchain to sign or to verify signatures? And do I need ETH to pay for
            gas?</h3>

        <p>No. Singing and signature check is made in your browser.</p>

        <p>Information about key owner read from blockchain, without sending transactions. So you do not need ETH do use
            this application.</p>

        <h3>Where can I get support?</h3>

        <p>Support email: <a href="mailto:support@cryptonomica.zendesk.com">support@cryptonomica.zendesk.com</a>

        <p>You can also find us on social media:<br>

            <a href="https://github.com/Cryptonomica" title="Cryptonomica on Github" target="_blank">
                <i class="github icon socialLogo"></i>
            </a>&nbsp;&nbsp;

            <a href="https://t.me/cryptonomicanet" title="Cryptonomica Telegram Group" target="_blank">
                <i class="telegram icon socialLogo"></i>
            </a>&nbsp;&nbsp;

            <a href="https://www.reddit.com/r/cryptonomica/" title="Cryptonomica on Reddit" target="_blank">
                <i class="reddit icon socialLogo"></i>
            </a>&nbsp;&nbsp;

            <a href="https://www.facebook.com/groups/cryptonomica/" title="Cryptonomica Facebook Group"
               target="_blank">
                <i class="facebook icon socialLogo"></i>
            </a>&nbsp;&nbsp;

            <a href="https://angel.co/iacc-1" title="Cryptonomica on AngelList" target="_blank">
                <i class="angellist icon socialLogo"></i>
            </a>&nbsp;&nbsp;

            <a href="https://medium.com/cryptonomica" title="Cryptonomica on Medium"
               target="_blank">
                <i class="medium icon socialLogo"></i>
            </a>&nbsp;&nbsp;
        </p>

        <h3>How else can you use verified EHT accounts/keys except for digital signatures?</h3>

        <p>They can be used in smart contracts and for verification on distributed application.</p>

        <p>See for example how SONM uses ETH keys verified via Cryptonomica:
            <a href="https://docs.sonm.com/how-to/how-to-pass-kyc-by-cryptonomica" target="_blank">
                How to pass KYC with Cryptonomica
            </a>
            (it is also a good manual on how to pass verification on Cryptonomica)</p>
        <br><br>

    </div>

    <!-- ------------------ -->
    <!--
    <div id="info" class="ui segment">
        <i class="grey cog loading icon"></i>on <a href="https://cryptonomica.net">cryptonomica.net</a><br>
    </div>
    -->
</div>