<div id="contextWrap">

    <!-- left sidebar-->
    <left-sidebar></left-sidebar>

    <!--right sidebar-->
    <right-sidebar></right-sidebar>

    <div class="pusher">

        <!--topHeaderMenu -->
        <top-header-menu></top-header-menu>

        <!-- ==== MAIN SECTION ====  -->

        <div class="mainWrap navslide">

            <div class="ui equal width left aligned padded grid stackable">

                <!--Page Content-->

                <div class="stretched row">

                    <div class="column">

                        <div class="ui segments">

                            <!-- Breadcrumb -->
                            <div id="breadcrumb" class="ui segment">
                                <div class="ui breadcrumb">
                                    <a class="section">Home</a>
                                    <i class="right angle icon divider"></i>
                                    <a class="section">Profiles</a>
                                    <i class="right angle icon divider"></i>
                                    <div class="active section">
                                        {{userProfileGeneralView.firstName | titleCase}}&nbsp;
                                        {{userProfileGeneralView.lastName | titleCase}}
                                    </div>
                                </div>
                            </div>

                            <!-- Alerts -->
                            <alerts></alerts>

                            <div class="ui segment" ng-show="userProfileGeneralView">

                                <h3>
                                    <a href=""
                                       ng-show="myBookmarks&&myBookmarks.users&&(!stringIsNullUndefinedOrEmpty(myBookmarks.users[userProfileGeneralView.userId]))"
                                       ng-click="removeUserFromMyBookmarks()"
                                       title="Click to remove this user from bookmarks">
                                        <i class="bookmark icon"></i>
                                    </a>

                                    <a href=""
                                       ng-hide="myBookmarks&&myBookmarks.users&&(!stringIsNullUndefinedOrEmpty(myBookmarks.users[userProfileGeneralView.userId]))"
                                       ng-click="addUserToMyBookmarks()" title="Click to add this user to bookmarks">
                                        <i class="bookmark outline icon"></i>
                                    </a>
                                    {{userProfileGeneralView.firstName | titleCase}}&nbsp;
                                    {{userProfileGeneralView.lastName | titleCase}}
                                </h3>

                                <a ng-href="{{userProfileGeneralView.userCurrentImageLink || 'https://placehold.it/100x100?text=No+Image-Uploaded'}}">
                                    <img ng-src="{{userProfileGeneralView.userCurrentImageLink || 'https://placehold.it/100x100?text=No+Image-Uploaded'}}"
                                         style="height: 200px"
                                         class="pull-xs-left">
                                </a>

                                <br>
                                <table class="ui celled table">
                                    <tbody>
                                    <tr>
                                        <td>First Name:</td>
                                        <td>{{userProfileGeneralView.firstName | titleCase}}</td>
                                    </tr>
                                    <tr>
                                        <td>Last Name:</td>
                                        <td>{{userProfileGeneralView.lastName | titleCase}}</td>
                                    </tr>
                                    <tr>
                                        <td>Birthday:</td>
                                        <td>{{userProfileGeneralView.birthday | date}}</td>
                                    </tr>
                                    <tr>
                                        <td>email:</td>
                                        <td>{{userProfileGeneralView.email}}</td>
                                    </tr>
                                    <tr>
                                        <td>User info:</td>
                                        <td>{{userProfileGeneralView.userInfo}}</td>
                                    </tr>
                                    <tr ng-show="userProfileGeneralView.lawyer">
                                        <td>Is an accredited lawyer:</td>
                                        <td>{{userProfileGeneralView.lawyer}}</td>
                                    </tr>
                                    <tr ng-show="userProfileGeneralView.notary">
                                        <td>Is an accreditor notary:</td>
                                        <td>{{userProfileGeneralView.notary}}</td>
                                    </tr>
                                    <tr ng-show="userProfileGeneralView.arbitrator">
                                        <td>Is an arbitrator</td>
                                        <td>{{userProfileGeneralView.arbitrator}}</td>
                                    </tr>
                                    <tr ng-show="userProfileGeneralView.cryptonomicaOfficer">
                                        <td>Is a IACC officer:</td>
                                        <td>{{userProfileGeneralView.cryptonomicaOfficer}}</td>
                                    </tr>
                                    </tbody>
                                </table>

                                <h4>User PGP public keys:</h4>
                                <!-- TODO: show if key is expired, verified -->
                                <div ng-hide="userProfileGeneralView.pgpPublicKeyGeneralViews">
                                    No keys uploaded for this user
                                </div>
                                <!-- ArrayList<PGPPublicKeyGeneralView> pgpPublicKeyGeneralViews; -->

                                <table class="ui celled table"
                                       ng-repeat="key in userProfileGeneralView.pgpPublicKeyGeneralViews">
                                    <thead>
                                    <tr>
                                        <th>keyID</th>
                                        <th>
                                            <a href=""
                                               title="Show key info"
                                               ui-sref="key({fingerprint:key.fingerprint})">
                                                {{key.keyID}}
                                            </a>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>fingerprint</td>
                                        <td>
                                            <a href=""
                                               title="Show key info"
                                               ui-sref="key({fingerprint:key.fingerprint})">
                                                {{key.fingerprint}}
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>created</td>
                                        <td>{{key.created}}</td>
                                    </tr>
                                    <tr>
                                        <td>expires</td>
                                        <td ng-style="key.expired && {'color':'red', 'font-weight':'bold'}">
                                            <span ng-show="key.expired">expired: </span>
                                            {{key.exp}}
                                            <!--<td>{{key.exp}}</td>-->
                                    </tr>
                                    </tbody>
                                </table>

                            </div>

                            <div class="ui segment"
                                 ng-show="currentUser&&userProfileGeneralView&&currentUser.userId&&userProfileGeneralView.userId&&(currentUser.userId==userProfileGeneralView.userId)">
                                <h2>Update Profile</h2>

                                <form class="ui form">

                                    <div class="field">

                                        <h3>Upload new public OpenPGP key</h3>

                                        <p>
                                            Key should have in "user id": <br>
                                            first name (fist) and last name (after first name) - in English, exactly as
                                            in your passport;<br>
                                            e-mail - the same as you used to log in;<br><br>
                                            Key strength (key size) have to be min 2,048 bits;<br>
                                            Key can be valid not longer than for 2 years;<br>
                                        </p>

                                        <p>You can generate your keys using our
                                            <a href="" ui-sref="openPGPOnline" target="_blank"
                                               title="Generate your keys online">
                                                OpenPGP Online Service
                                            </a>
                                            (create your keys, save as files, and than upload here) or using
                                            <a href="" ui-sref="openPGPSoftware" target="_blank"
                                               title="Click to open list of recommended OpenPGP software">
                                                recommended software
                                            </a>
                                        </p>

                                        <input type="file" on-read-file="readFileContent($fileContent)"/>

                                        <textarea rows="5" cols="71"
                                                  class="textAreaWithKey"
                                                  ng-model="pgpPublicKeyUploadForm.asciiArmored"
                                                  ng-change="verifyPublicKeyData()"
                                                  placeholder="Or paste your key here"
                                                  required>
                                        </textarea>

                                        <!-- key data information / messages start -->
                                        <div id="pgpPublicKeyData" class="ui message" ng-show="pgpPublicKeyData">
                                            <div class="header">
                                                Key Data
                                            </div>
                                            <b>Key ID:</b>&nbsp;{{pgpPublicKeyData.keyId}}<br>
                                            <b>Fingerprint:</b>&nbsp;{{pgpPublicKeyData.fingerprint}}<br>
                                            <b>User ID:</b>&nbsp;{{pgpPublicKeyData.userId}}<br>
                                            <b>Key certificate created:</b>&nbsp;{{pgpPublicKeyData.created}}<br>
                                            <b>Key certificate valid until:</b>&nbsp;{{pgpPublicKeyData.exp}}<br>
                                            <b>Key size:</b>&nbsp;{{pgpPublicKeyData.bitsSize}}<br>
                                        </div>

                                        <div id="pgpPublicKeyDataError" ng-show="pgpPublicKeyDataError"
                                             class="ui negative message">
                                            <!--<i class="close icon" ng-click="pgpPublicKeyDataError=null"></i>-->
                                            <!--<div class="header">Error:</div>-->
                                            <p>{{pgpPublicKeyDataError}}</p>
                                        </div>
                                        <!-- key data information / messages end -->

                                    </div>


                                    <div id="keyUploadSuccessMessage" ng-show="keyUploadSuccessMessage"
                                         class="ui positive message">
                                        <i class="close icon" ng-click="keyUploadSuccessMessage=null"></i>
                                        <div class="header">Success:</div>
                                        <p>{{keyUploadSuccessMessage}}</p>
                                    </div>

                                    <div id="keyUploadErrorMessage" ng-show="keyUploadErrorMessage"
                                         class="ui negative message">
                                        <i class="close icon" ng-click="keyUploadErrorMessage=null"></i>
                                        <div class="header">Error:</div>
                                        <p>{{keyUploadErrorMessage}}</p>
                                    </div>

                                    <button id="registerNewUserBtn" class="ui positive button"
                                            ng-click="keyUploadFn()">
                                        Upload new key
                                    </button>

                                </form>

                            </div>

                            <!-- FOOTER -->
                            <footer-main></footer-main>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
