<header-main-menu></header-main-menu>
<navigation-menu></navigation-menu>

<div class="card card-block">
    <!-- Alert! -->
    <div ng-show="alert" class="alert alert-danger" role="alert">
        {{alert}}
    </div>
    <!-- KEY VERIFICATION START -->
    <!-- TODO: to directive -->
    <!-- TODO: show key verification info in the key view-->
    <hr>
    <div ng-show="(currentUser && currentUser.cryptonomicaOfficer)||(currentUser && currentUser.notary)">
        <h4>Notary menu: </h4>
        <p>(you view this because you are an authorized notary or Cryptonomica officer)</p>
        <button type="button" class="btn btn-default" ng-click="KeyVerificationFormShowToggle()" title="Click to show">
            Add key verification:
        </button>
        <div ng-show="KeyVerificationFormShow">
            <form id="KeyVerificationFORM" name="KeyVerificationFORM">
                <!-- Remember, since Bootstrap utilizes the HTML5 doctype, all inputs must have a type attribute. -->
                <fieldset>
                    <!-- basedOnDocument -->
                    <label for="basedOnDocument">Document(s) provided for verification:</label>
                    <input id="basedOnDocument" type="text" class="form-control"
                           ng-model="VerifyPGPPublicKeyForm.basedOnDocument" ng-required="true">
                    <br>

                    <!--// verificationInfo-->
                    <label for="verificationInfo">Information about key verification:</label>

                    <textarea id="verificationInfo"
                              name="verificationInfo"
                              class="form-control"
                              ng-model="VerifyPGPPublicKeyForm.verificationInfo"
                              ng-required="true">
                    </textarea>
                    <br>
                </fieldset>
                <input type="submit" class="btn btn-default" ng-click="verifyPGPPublicKeyFormSubmit()">
            </form>
            <hr>
            <!-- Success message: -->
            <div ng-show="VerifyPGPPublicKeyReturn.messageToUser" class="alert alert-success" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                {{VerifyPGPPublicKeyReturn.messageToUser}}
            </div>
            <!-- Error message: -->
            <div ng-show="verifyKeyError" class="alert alert-danger" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                {{verifyKeyError.message}}
            </div>
        </div>
        <hr>
        <!--  -->
    </div>

    <!-- KEY VERIFICATION END -->
    <table class="table table-bordered table-hover">
        <tbody>
        <tr>
            <td>keyID</td>
            <td>{{key.keyID}}</td>
        </tr>
        <tr>
            <td>userID</td>
            <td>
                <a href=""
                   title="Show user profile"
                   ui-sref="viewprofile({ userId: key.cryptonomicaUserId })">
                    {{key.userID}}
                </a>


            </td>
        </tr>
        <tr>
            <td>fingerprint</td>
            <td>{{key.fingerprint}}</td>
        </tr>
        <tr>
            <td>created</td>
            <td>{{key.created}}</td>
        </tr>
        <tr>
            <td>expires</td>
            <td>{{key.exp}}</td>
        </tr>
        <tr>
            <td>Bit strength</td>
            <td>{{key.bitStrength}}</td>
        </tr>
        <tr>
            <td>Verified:</td>
            <td>{{key.verified}}</td>
        </tr>

        <tr ng-show="key.verificationsWebSafeStrings">
            <td>Verifications:</td>
            <td>
                <div ng-repeat="verificationWebSafeString in key.verificationsWebSafeStrings">

                    <a href=""
                       title="Show verification info"
                       ui-sref="verification({ verificationWebSafeString: verificationWebSafeString })">
                        Show verification info
                    </a>

                </div>
            </td>
        </tr>

        <tr>
            <td>ASCII-armored PGP Public Key</td>
            <td>
                <!-- -->
                <div ng-show="key">
                    <div ng-hide="key.verified" class="keynotverified">
                        <span>key not verified</span>
                    </div>
                    <div ng-show="key.verified" class="keyverified">
                        <span>key verified</span>
                    </div>
                    <!--  -->
                    <button class="btn" ngclipboard data-clipboard-target="#ASCIIarmored">Copy to clipboard</button>
                    <button class="btn" ng-click="download(ASCIIarmored)">Download as file</button>
                    <div>
                        <pre><code id="ASCIIarmored" title="Public PGP Key">{{key.asciiArmored}}</code></pre>
                    </div>
                </div>
            </td>
        </tr>

        </tbody>
    </table>
</div>

<footer-main></footer-main>