<div id="contextWrap">

    <!-- left sidebar-->
    <left-sidebar></left-sidebar>

    <!--right sidebar-->
    <right-sidebar></right-sidebar>

    <div class="pusher">

        <!--topHeaderMenu -->
        <top-header-menu></top-header-menu>

        <!-- ==== MAIN SECTION ====  -->

        <div class="mainWrap navslide">

            <div class="ui equal width left aligned padded grid stackable">

                <!--Page Content-->

                <div class="stretched row">

                    <div class="column">

                        <!-- Alerts -->
                        <alerts></alerts>

                        <div class="ui segments">

                            <!-- Breadcrumb -->
                            <div id="breadcrumb" class="ui segment">
                                <div class="ui breadcrumb">
                                    <a class="section" href="" ui-sref-active="active" ui-sref="home">Home</a>
                                    <i class="right angle icon divider"></i>
                                    <a class="section" href="" ui-sref-active="active" ui-sref="test">Test</a>
                                    <!--<i class="right angle icon divider"></i>-->
                                </div>
                            </div>

                            <div class="ui segment">
                                <h2>Test</h2>
                                <p>
                                    Content goes here
                                </p>
                            </div>

                            <div class="ui segment">
                                <h2>Examples</h2>

                                <div class="ui icon message">
                                    <i class="notched circle loading icon"></i>
                                    <div class="content">
                                        <div class="header">
                                            Just one second
                                        </div>
                                        <p>We're fetching that content for you.</p>
                                    </div>
                                </div>

                            </div>

                            <div class="ui segment">

                                <form class="ui form">

                                    <div class="field">

                                        <label>Message</label>
                                        <input type="text"
                                               name="message"
                                               placeholder="type your message..."
                                               ng-model="message">
                                    </div>

                                    <!--<div>-->
                                    <!--<p>{{message}}</p>-->
                                    <!--<br>-->
                                    <!--</div>-->

                                    <button class="ui negative basic button" type="submit"
                                            ng-click="setAlertDanger(message)">
                                        Set Alert Danger
                                    </button>
                                    <button class="ui yellow basic button" type="submit"
                                            ng-click="setAlertWarning(message)">
                                        Set Alert Warning
                                    </button>
                                    <button class="ui primary basic button" type="submit"
                                            ng-click="setAlertInfo(message)">
                                        Set Alert Info
                                    </button>
                                    <button class="ui positive basic button" type="submit"
                                            ng-click="setAlertSuccess(message)">
                                        Set Alert Success
                                    </button>
                                    <button class="ui basic button" type="submit"
                                            ng-click='setAlertMessage(message, "Message:")'>
                                        Set Alert Message
                                    </button>

                                    <br>

                                    <button class="ui negative button" type="submit"
                                            ng-click="setAlertDanger(message)">
                                        Set Alert Danger
                                    </button>
                                    <button class="ui yellow button" type="submit"
                                            ng-click="setAlertWarning(message)">
                                        Set Alert Warning
                                    </button>
                                    <button class="ui primary button" type="submit"
                                            ng-click="setAlertInfo(message)">
                                        Set Alert Info
                                    </button>
                                    <button class="ui positive button" type="submit"
                                            ng-click="setAlertSuccess(message)">
                                        Set Alert Success
                                    </button>
                                    <button class="ui button" type="submit"
                                            ng-click='setAlertMessage(message, "Message:")'>
                                        Set Alert Message
                                    </button>

                                </form>

                            </div>

                        </div>

                        <!-- FOOTER -->
                        <footer-main></footer-main>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

