<div id="topMenu" class="ui top fixed menu">
    <!--<div class="ui top attached menu">-->

    <!--<div class="ui container">-->

    <a class="left item" ng-click="showSidebar()">
        <!--<a class="left item" ng-click="showSidebar()" style="width: 7.2em;">-->
        <i class="sidebar icon"></i>
        Menu
    </a>

    <div class="left item">
        <div class="ui icon input">
            <i class="search icon"></i>
            <input type="text" placeholder="Search...">
        </div>
    </div>

    <div class="left item">
        <div class="ui action input">
            <input type="text" placeholder="Navigate to...">
            <div class="ui button">Go</div>
        </div>
    </div>


    <!--<a id="sidebarBtn" class="left item">-->
    <!--<i class="home icon"></i>-->
    <!--Home-->
    <!--</a>-->

    <a class="item">
        <i class="grid layout icon"></i> Browse
    </a>

    <a class="item">
        <i class="mail icon"></i> Messages
    </a>

    <div class="ui simple dropdown item">
        More
        <i class="dropdown icon"></i>
        <div class="menu">
            <a class="item"><i class="edit icon"></i> Edit Profile</a>
            <a class="item"><i class="globe icon"></i> Choose Language</a>
            <a class="item"><i class="settings icon"></i> Account Settings</a>
        </div>
    </div>

    <div class="right item">
        <div class="ui input"><input type="text" placeholder="Search..."></div>
    </div>

    <!--</div>-->
</div>

<div class="ui bottom attached pushable">
    <!--<div class="ui bottom attached segment pushable">-->

    <div id="sidebar" class="ui small left vertical sidebar menu" style="width: 8em;">
        <!--<div class="ui inverted labeled icon left inline vertical sidebar menu" style="">-->
        <a class="item"><i class="home icon"></i>Home</a>
        <a class="item"><i class="block layout icon"></i>Topics</a>
        <a class="item">
            <i class="smile icon"></i>
            Friends
        </a>
        <a class="item">
            <i class="calendar icon"></i>
            History
        </a>
    </div>

    <div class="pusher">

        <!-- sidebar will be created as child of this node -->
        <div id="main" style="margin-top: 3.5em">
            <!--<div id="main" style="margin-top: 3em">-->

            <!-- > this is "after" sidebar, and for content only -->
            <br><br>
            <div class="ui grid container">

                <div class="row">
                    <div class="sixteen column">
                        <h3 class="ui header">Application Content</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="eight wide column">
                        <div id="basicSegment1" class="ui text raised segment">
                            <p>///</p>
                            <p>///</p>
                            <p>///klj;lkj;lkj;lkj;lkj;lkj;lkj;</p>
                            <p>//................................./</p>

                        </div>
                    </div>
                    <div class="eight wide column">
                        <div id="basicSegment2" class="ui text raised segment">
                            <p>///</p>
                            <p>///</p>
                            <p>///</p>
                            <p>//.................................../</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>

