<div id="contextWrap">

    <!-- left sidebar-->
    <left-sidebar></left-sidebar>

    <!--right sidebar-->
    <right-sidebar></right-sidebar>

    <div class="pusher">

        <!--topHeaderMenu -->
        <top-header-menu></top-header-menu>

        <!-- ==== MAIN SECTION ====  -->

        <div class="mainWrap navslide">

            <div class="ui equal width left aligned padded grid stackable">

                <!--Page Content-->

                <div class="stretched row">

                    <div class="column">

                        <!-- Alerts -->
                        <alerts></alerts>

                        <div class="ui segments">

                            <!-- Breadcrumb -->
                            <div id="breadcrumb" class="ui segment">
                                <div class="ui breadcrumb">
                                    <a class="section" href="" ui-sref-active="active" ui-sref="home">Home</a>
                                    <i class="right angle icon divider"></i>
                                    <a class="section">Profiles</a>
                                    <i class="right angle icon divider"></i>
                                    <a class="section" href="" ui-sref-active="active"
                                       ui-sref="viewprofile({userId:pgpPublicKey.cryptonomicaUserId})">
                                        {{pgpPublicKey.firstName | titleCase }}&nbsp;{{pgpPublicKey.lastName |
                                        titleCase}}
                                    </a>
                                    <i class="right angle icon divider"></i>
                                    <a class="section" ui-sref-active="active"
                                       ui-sref="key({fingerprint:pgpPublicKey.fingerprint})">
                                        {{keyId}}
                                    </a>
                                    <i class="right angle icon divider"></i>
                                    <a class="section active">Ethereum Verification Data</a>
                                </div>
                            </div>

                            <div class="ui segment">

                                <!-- TODO: update network ID in production -->
                                <div id="mainSection" ng-show="currentUser&&web3.version.network=='1'">

                                    <h2>
                                        <i class="ethereum icon"></i>&nbsp;
                                        Ethereum account verification data for this OpenPGP key
                                    </h2>

                                    <div>
                                        Key ID:
                                        <a href="" ui-sref="key({fingerprint:fingerprint})" title="Show key info">
                                            {{keyId}}
                                        </a>
                                        (<a href=""
                                            ui-sref="viewprofile({userId:pgpPublicKey.cryptonomicaUserId})">{{pgpPublicKey.userID}}</a>)
                                        &nbsp;

                                        <span ng-show=" pgpPublicKey.cryptonomicaUserId==currentUser.userId"
                                              style="color: green">(this is your key)</span>
                                        <!--<span ng-show="pgpPublicKey.cryptonomicaUserId!=currentUser.userId">(it's not your key)</span>-->
                                        <br><br>
                                    </div>

                                    <section id="dataFromSmartContractSection">

                                        <div>
                                            <button class="ui tiny button"
                                                    ng-click="requestDataFromSmartContract()">
                                                Update Data From Smart Contract
                                            </button>

                                            <div id="requestDataFromSmartContractError"
                                                 ng-show="requestDataFromSmartContractError.error"
                                                 class="alert alert-danger"
                                                 role="alert">
                                                {{requestDataFromSmartContractError}}
                                            </div>

                                            <div id="dataFromSmartContract">

                                                <table class="ui celled table">

                                                    <tbody>

                                                    <tr>
                                                        <td>OpenPGP key fingerprint:</td>
                                                        <td>
                                                            <a href=""
                                                               title="Show key info"
                                                               ui-sref="key({fingerprint:fingerprint})">
                                                                {{fingerprint}}
                                                            </a>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>Ethereum address connected to this OpenPGP key:</td>

                                                        <td>
                                                            <a ng-show="smartContractData.ethAddressConnectedToFingerprint!='0x0000000000000000000000000000000000000000'"
                                                               ng-href="{{etherscanLinkPrefix}}address/{{smartContractData.ethAddressConnectedToFingerprint}}"
                                                               target="_blank">
                                                                {{smartContractData.ethAddressConnectedToFingerprint}}
                                                            </a>
                                                            <div ng-show="smartContractData.ethAddressConnectedToFingerprint=='0x0000000000000000000000000000000000000000'">
                                                                No verified ETH address for this key
                                                            </div>

                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            Signed String
                                                        </td>
                                                        <td style="font-size: smaller;">
                                                            <pre><code id="signedString">{{smartContractData.signedString}}</code></pre>
                                                            <div ng-show="smartContractData.signedString">
                                                                <button class="ui tiny button"
                                                                        ng-click="copyToClipboard('#signedString')">
                                                                    Copy signed string to clipboard
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>Signed string uploaded on:</td>
                                                        <td>
                                <span ng-show="smartContractData.signedStringUploadedOnUnixTime != 0">
                                    {{smartContractData.signedStringUploadedOnDate | date:'yyyy-MM-dd HH:mm:ss Z'}}
                                </span>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>Verification requested for OpenPGP key:</td>
                                                        <td>
                                                            <a href=""
                                                               title="Show key info"
                                                               ui-sref="key({fingerprint:smartContractData.unverifiedFingerprint})">
                                                                {{smartContractData.unverifiedFingerprint}}
                                                            </a>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>Verified user for this ETH address:</td>
                                                        <td>
                                                            {{smartContractData.firstName}}&nbsp;{{smartContractData.lastName}}&nbsp;
                                                            <span ng-show="smartContractData.birthDateUnixTime && smartContractData.birthDateUnixTime > 0">
                                    <br>born: {{smartContractData.birthDate | date:'yyyy-MM-dd'}}
                                </span>
                                                            <span ng-show="smartContractData.nationality">
                                    , nationality: {{smartContractData.nationality}}
                                </span>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>Verified on:</td>
                                                        <td>
                                <span ng-show="smartContractData.verificationAddedOnUnixTime && smartContractData.verificationAddedOnUnixTime > 0">
                                    {{smartContractData.verificationAddedOnDate | date:'yyyy-MM-dd'}}(Unix time:&nbsp;{{smartContractData.verificationAddedOnUnixTime}})
                                </span>
                                                        </td>
                                                    </tr>


                                                    <tr>
                                                        <td>Verification revoked on:</td>
                                                        <td>
                                <span ng-show="smartContractData.revokedOnUnixTime && smartContractData.revokedOnUnixTime > 0">
                                    {{smartContractData.revokedOnDate | date:'yyyy-MM-dd'}}(Unix time:&nbsp;{{smartContractData.revokedOnUnixTime}})
                                </span>
                                                        </td>
                                                    </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </section>

                                    <hr>

                                    <!-- ////// INFORMATION  \\\\\\ -->
                                    Information: <br>
                                    Working with smart contract:<b><a
                                        ng-href="{{etherscanLinkPrefix}}address/{{contract.address}}">{{contract.address}}</a></b>
                                    <br>
                                    Your Ethereum Account:
                                    <b>
                                        <a ng-href="{{etherscanLinkPrefix}}address/{{ethAccount}}">
                                            {{ethAccount}}
                                        </a>
                                    </b>
                                    <br>
                                    Your Ethereum network: <b><a ng-href="{{etherscanLinkPrefix}}">{{currentNetwork.networkName}}</a>
                                    (network id: {{currentNetwork.network_id}})</b><br>
                                    Your Ethereum node: <b>{{currentNetwork.node}}</b><br>
                                    last known block:
                                    <b><a ng-href="{{etherscanLinkPrefix}}block/{{currentNetwork.lastKnownBlock}}">
                                        {{currentNetwork.lastKnownBlock}}
                                    </a></b><br>
                                    web3 version: <b>{{currentNetwork.web3Version}}</b><br>
                                    Ethereum Protocol Version: <b>{{currentNetwork.ethereumProtocolVersion}}</b><br>
                                    <!--{"network_id":"4","networkName":"Rinkeby Test Network","node":"MetaMask/v3.14.1","ethereumProtocolVersion":"0x3f","connected":true}-->
                                    <hr>

                                </div>

                            </div>

                        </div>

                        <!-- FOOTER -->
                        <footer-main></footer-main>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

