<!-- ------- HEADER ------ -->
<nav class="navbar navbar-dark bg-inverse">

    <ul class="nav">
        <!-- Brand -->
        <a class="navbar-brand" href="" ui-sref="home">
            <img class="img-fluid" ng-src="/app/img/logo.004.crop.white.svg" alt="Cryptonomica Logo"
                 style="height: 50px" title="Home">
        </a>
        <!-- User photo -->
        <li class="nav-item navbar-brand" ng-show="gdata.getUser()">
            <!--<img src="{{gapi.user.picture}}" height="57" style="">-->
            <img ng-src="{{userCurrentImageLink || 'https://placehold.it/57x57?text=No+Image'}}"
                 style="height: 57px">
        </li>

        <!-- User email -->
        <li class="nav-item" ng-show="gdata.getUser()">
            <a href="https://accounts.google.com/AccountChooser"
               title="Change account" class="whitelink">{{gdata.getUser().email}}</a>
            <br>
            <a href="https://security.google.com/settings/security/permissions"
               title="Manage google account permissions" class="whitelink">Change permissions</a>
        </li>

        <!-- KeyFinder-->
        <li class="nav-item" ng-show="currentUser&&currentUser.registeredCryptonomicaUser">
            <a href="" ui-sref="search()"
               role="button"
               class="btn btn-secondary-outline whitelink" title="Find keys and users">
                <i class="fa fa-key"></i>
                <br>
                <span>KeyFinder</span>
            </a>
        </li>

        <!-- Help -->
        <li class="nav-item">
            <a href="https://github.com/Cryptonomica/cryptonomica/wiki" target="_blank"
               class="btn btn-secondary-outline whitelink" title="Help" role="button">
                <i class="fa fa-question-circle"></i>
                <br>Help
            </a>
        </li>

        <!-- Logout -->
        <li class="nav-item" ng-show="gdata.getUser()">
            <a href="https://accounts.google.com/logout"
               role="button"
               class="btn btn-secondary-outline whitelink">
                <i class="fa fa-sign-out"></i>
                <br>
                <span>Logout</span>
            </a>
        </li>

        <!-- Login-->
        <li class="nav-item" ng-hide="gdata.getUser()">
            <button class="btn btn-secondary-outline" ng-click="login()">
                <i class="fa fa-sign-in"></i>
                <br>Login
            </button>
            <br>
        </li>

        <!-- Register -->
        <li class="nav-item" ng-show="!currentUser.registeredCryptonomicaUser"
            ng-hide="currentUser.registeredCryptonomicaUser">
            <button class="btn btn-default" ng-click="register()">
                <i class="fa fa-pencil-square-o"></i>
                <br>Register
            </button>
        </li>


        <!--  -->
    </ul>
</nav>
<!-- to prevent throwing exeptions on line 32 : newdesign/js/vitality.js -->
<div id="mainNav"
     style="border-bottom: 0px solid rgba(255, 255, 255, 0.1); padding: 0px 0; min-height: 0px;">
</div>
<!-- ------- **** ------ -->
