<!-- Navigation -->
<div class="container-fluid">

    <!--<nav class="navbar fixed-top navbar-toggleable-md navbar-inverse navbar-expanded" id="mainNav">-->
    <nav id="mainNav" class="navbar fixed-top navbar-toggleable-md navbar-inverse navbar-expanded"
         style="position: unset; padding: 1em">

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu <i class="fa fa-bars"></i>
        </button>

        <a class="navbar-brand page-scroll" href="" ng-click="goTo('page-top')">
            <img class="img-fluid" src="/app/img/logo.004.crop.white.svg" alt="Cryptonomica Logo">
        </a>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto text-bold">

                <li class="nav-item">
                    <a class="nav-link page-scroll" href="" ng-click="goTo('about')">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll"
                       target="_blank"
                       href="https://github.com/Cryptonomica/cryptonomica/wiki/Cryptonomica-White-Paper">White Paper</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="" ng-click="goTo('team')">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="" ng-click="goTo('awards')">Awards</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="" ng-click="goTo('howToUse')">How to use</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="https://github.com/Cryptonomica/cryptonomica/wiki"
                       target="_blank">Wiki</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link page-scroll" href="" ng-click="goTo('contact')">Contact</a>
                </li>

                <li class="nav-item">
                    <a id="loginRegisterBtn" class="nav-link page-scroll loginBtn loginBtn--google" href=""
                       ng-click="register()"
                       title="Register using google account or Login">
                        &nbsp;<i class="fa fa-sign-in"></i>&nbsp;Login with Google&nbsp;&nbsp;
                    </a>

                </li>

            </ul>
        </div>

    </nav>
</div>
