<div id="onlineVerificationTerms">
    <div class="card">
        <div class="card-header">
            <center>
                <h2>Online key verification</h2>
            </center>
        </div>
        <div class="card-block">
            <form>

                <div id="acceptTermsText">
                    <md ng-include="'/app/onlineVerification/terms.md'"></md>
                </div>
                <br>
                <fieldset class="form-group">

                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" ng-model="acceptTermsAnswer">
                            I accept online verification terms and conditions
                        </label>
                    </div>


                    <button ng-click="acceptTerms()" class="ui button">
                        Accept
                    </button>

                </fieldset>

            </form>

            <div id="acceptTermsAlerts">
                <div ng-show="acceptTermsError" class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span ng-click="alertDanger=null">&times;</span>
                    </button>
                    {{acceptTermsError}}
                </div>
                <div ng-show="acceptTermsSuccess" class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
                    {{acceptTermsSuccess}}
                </div>
            </div>

        </div>
    </div>
    <br>
    <button name="button" class="ui button" ng-click="getOnlineVerification()">
        Next Step >>>
    </button>
    <br>
    <hr>

</div>
