<div class="ui right sidebar">

    <div class="ui pointing secondary two item tabular menu">

        <a class="item" data-tab="profilesTab">
            <i class="icofont icofont-users"></i>
        </a>

        <a class="item" data-tab="keysTab">
            <i class="icofont icofont-key"></i>
        </a>

    </div>

    <div class="ui tab active" data-tab="profilesTab">
        <div class="ui small feed">
            <h4 class="ui header">Saved profiles</h4>
            <div ng-repeat="(key, value) in myBookmarks.users">
                <a ui-sref="viewprofile({userId:key})">
                    {{value | titleCase}}
                </a>
            </div>
        </div>
    </div>

    <div class="ui tab" data-tab="keysTab">
        <div class="ui small feed">
            <h4 class="ui header">Saved keys</h4>
            <div ng-repeat="(key, value) in myBookmarks.savedKeys">
                <a ui-sref="key({fingerprint:key})">
                    {{value}}
                </a>
            </div>
        </div>
    </div>

</div>

<script>

    $('.tabular .item').tab();

</script>
