<center>
    <h2>Phone verification</h2>
</center>

<form class="ui form">

    <!--<fieldset>-->
    <div class="field">
        <legend>Enter your pnone in international format:</legend>
        <input type="tel" id="phoneNumber" placeholder="+972523333333" ng-model="phoneNumber" autocomplete="tel">
        <br>
        <button ng-click="sendSms()" class="ui small button">
            Send SMS Message
        </button>
    </div>
    <!--</fieldset>-->

    <div class="field">

        <legend>Enter 7 digits from received SMS message (check sms from +17349843608) :</legend>
        <input type="text" id="smsMessage" class="form-control" placeholder="1234567" ng-model="smsMessage">
        <br>
        <button class="ui small button" ng-click="checkSms()"
                role="button" type="button" class="btn btn-secondary">
            Verify
        </button>
    </div>

    <div class="field">
        <legend>Result:</legend>
        <input type="text" id="smsResult" class="form-control" ng-model="smsResult" disabled>
    </div>

</form>

<button name="button" class="ui positive button" role="button" ng-click="getOnlineVerification()">
    Next Step >>>
</button>
<br>


