<div id="stripePaymentsForm">

    <!-- Alerts: -->

    <div id="alertDanger" ng-show="paymentError" class="ui negative message">
        <i class="close icon" ng-click="paymentError=null"></i>
        <div class="header">Error:</div>
        <p>{{paymentError.message}}</p>
    </div>

    <div id="alertSuccess" ng-show="paymentResponse" class="ui positive message">
        <i class="close icon" ng-click="paymentResponse=null"></i>
        <div class="header">Success:</div>
        <p>{{paymentResponse.messageToUser}}</p>
    </div>

    <!-- Card -->

    <center>
        <h2>Payment</h2>
        <h4>
            We accept Visa, Mastercard and American Express payments from customers worldwide.
            Payment service provided by <a href="https://stripe.com" target="_blank">Stripe</a>.
            We do not store your credit card number, exp date or CVC
        </h4>

    </center>

    <form id="payment-form" class="ui form">

        <div class="field">

            <label>Name:</label>

            <div class="two fields">
                <div class="field">
                    <input name="firstName" ng-model="stripePaymentForm.cardHolderFirstName"
                           placeholder="First Name" type="text"
                           autocomplete='cc-given-name'>
                </div>
                <div class="field">
                    <input name="lastName" ng-model="stripePaymentForm.cardHolderLastName" placeholder="Last Name"
                           type="text" autocomplete='cc-family-name'>
                </div>
            </div>

        </div>

        <div class="fields">

            <div class="seven wide field">
                <label>Card Number:</label>
                <!-- Payment card numbers can be up to 19 digits -->
                <!-- https://en.wikipedia.org/wiki/Payment_card_number -->
                <input name="cardNumber" ng-model="stripePaymentForm.cardNumber"
                       maxlength="19" placeholder="Card #" type="text" autocomplete='cc-number'>
            </div>
            <div class="three wide field">
                <label>CVC</label>
                <input name="cardCVC" placeholder="CVC" type="text" size="3" maxlength="3"
                       ng-model="stripePaymentForm.cardCVC"
                       autocomplete='cc-csc'>
            </div>

            <div class="six wide field">
                <label>Expiration</label>
                <div class="two fields">

                    <div class="field">
                        <select class="ui fluid search dropdown" name="cardExpMonth"
                                ng-model="stripePaymentForm.cardExpMonth" type="text">
                            <option value="">Month</option>
                            <option value="01">January</option>
                            <option value="02">February</option>
                            <option value="03">March</option>
                            <option value="04">April</option>
                            <option value="05">May</option>
                            <option value="06">June</option>
                            <option value="07">July</option>
                            <option value="08">August</option>
                            <option value="09">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                    </div>

                    <!--<div class="field">-->
                    <!--<input name="cardExpYear" placeholder="Year: last two digits" type="text" size="2" maxlength="2"-->
                    <!--ng-model="stripePaymentForm.cardExpYear"-->
                    <!--autocomplete='cc-exp-year'>-->
                    <!--</div>-->

                    <div class="field">
                        <select class="ui fluid search dropdown" name="cardExpYear"
                                ng-model="stripePaymentForm.cardExpYear" type="text">
                            <option value="">Year</option>
                            <option value="18">2018</option>
                            <option value="19">2019</option>
                            <option value="20">2020</option>
                            <option value="21">2021</option>
                            <option value="22">2022</option>
                            <option value="23">2023</option>
                            <option value="24">2024</option>
                            <option value="25">2025</option>
                            <option value="26">2026</option>
                            <option value="27">2027</option>
                            <option value="28">2028</option>
                            <option value="29">2029</option>
                        </select>
                    </div>

                </div>
            </div>
        </div>

        <div class="field">

            <div class="two fields">
                <div class="field">
                    <label>Promotional code (if applicable):</label>

                    <!-- ng-class="{error:getPriceForKeyVerificationError}" -->
                    <!--<div class="ui input error">-->
                    <input type="text" size="11" ng-model="promoCode" placeholder="case sensitive"
                           ng-class="{inputError:getPriceForKeyVerificationError}">
                    <!--</div>-->

                    <button id="applyPromoCode"
                            ng-class="{disabled: getPriceForKeyVerificationIsWorking}"
                            ng-click="getPriceForKeyVerification()"
                            class="ui small button">
                        Refresh price / apply promocode
                        <span ng-show="getPriceForKeyVerificationIsWorking" title="working...">
                        <br> <i class="fa fa-refresh fa-spin fa-fw"></i>
                    </span>
                    </button>
                </div>

                <div class="field">
                    <label ng-click="getPriceForKeyVerification()" title="click to refresh">
                        Price:&nbsp;
                        <a href="" style="font-weight: bold">
                            EUR&nbsp;{{priceForKeyVerification}}
                        </a>
                        &nbsp;
                        <span ng-show="promoCodeAppiedMessage">(with promocode:&nbsp;{{promoCode}})</span>
                    </label>
                    <button id="submitPayment"
                            ng-class="{disabled: submitPaymentWorking}"
                            ng-click="submitPayment()"
                            class="ui positive button" type="submit">
                        Submit Payment
                        <span ng-show="submitPaymentWorking" title="working...">
                        <br><i class="fa fa-refresh fa-spin fa-fw"></i>
                    </span>
                    </button>
                </div>

            </div>

        </div>
        <div class="field" ng-show="getPriceForKeyVerificationError">
            <div class="ui negative message">
                <i class="close icon" ng-click="getPriceForKeyVerificationError=null"></i>
                <div class="header">Error:</div>
                <p>{{getPriceForKeyVerificationError}}</p>
            </div>
        </div>

    </form>
    <hr>
    <button name="button" class="ui positive button" ng-click="getOnlineVerification()">
        Next Step >>>
    </button>
    <br><br>
</div>
