<div id="paymentVerification">

    <!-- Alerts: -->

    <div id="alertDanger" ng-show="paymentVerificationError" class="ui negative message">
        <i class="close icon" ng-click="paymentVerificationError=null"></i>
        <div class="header">Error:</div>
        <p>{{paymentVerificationError.message}}</p>
    </div>

    <div id="alertSuccess" ng-show="paymentVerificationResponse" class="ui positive message">
        <i class="close icon" ng-click="paymentVerificationResponse=null"></i>
        <div class="header">Success:</div>
        {{paymentVerificationResponse.message}}
    </div>

    <!-- Card: -->

    <div id="header">
        <center>
            <h4>Enter 7 digits code from your credit card bank statement (like: '6691170 CRYPTONOMICA' - input first 7
                digits)</h4>
        </center>
    </div>

    <form id="payment-form" class="ui form">

        <div class="field">
            <label>Code:</label>
            <input type="text" size="12" ng-model="paymentVerificationCode">

        </div>

        <div class="field">
            <button ng-click="checkPaymentVerificationCode()" class="ui button" type="submit">
                Check code
            </button>
        </div>

    </form>

    <hr>

    <!--ng-disabled="onlineVerification.onlineVerificationFinished"-->
    <div ng-hide="onlineVerification.onlineVerificationFinished">

        <button name="button" class="ui positive button" ng-click="getOnlineVerification()">
            Next Step >>>
        </button>

    </div>

    <br><br>
</div>
