<div class="container">
    <!-- Alerts: -->

    <div ng-show="paymentError"
         class="alert alert-danger alert-dismissible"
         role="alert">
        <button type="button" class="close" data-dismiss="alert"><span
                aria-hidden="true">×</span></button>
        {{paymentError.message}}
    </div>

    <div ng-show="paymentResponse"
         class="alert alert-success alert-dismissible"
         role="alert">
        <button type="button" class="close" data-dismiss="alert"><span
                aria-hidden="true">×</span></button>
        {{paymentResponse.messageToUser}}
    </div>

    <div class="card">

        <div class="card-header">
            <center>
                <h5>Payment</h5>
            </center>
        </div>

        <div class="card-block">

            <form id="payment-form">

                <div class="form-row">
                    <legend>
                        <span>First name on card:</span>
                        <input type="text" size="30" ng-model="stripePaymentForm.cardHolderFirstName">
                    </legend>
                </div>

                <div class="form-row">
                    <legend>
                        <span>Last name on card:</span>
                        <input type="text" size="30" ng-model="stripePaymentForm.cardHolderLastName">
                    </legend>
                </div>

                <div class="form-row">
                    <legend>
                        <span>Card Number:</span>
                        <!-- Payment card numbers can be up to 19 digits -->
                        <!-- https://en.wikipedia.org/wiki/Payment_card_number -->
                        <input type="text" size="19" maxlength="19" ng-model="stripePaymentForm.cardNumber">
                    </legend>
                </div>

                <div class="form-row">
                    <legend>
                        <span>Expiration (MM/YY)</span>
                        <input type="text" size="2" maxlength="2" ng-model="stripePaymentForm.cardExpMonth">
                        <span> / </span>
                        <input type="text" size="2" maxlength="2" ng-model="stripePaymentForm.cardExpYear">
                    </legend>
                </div>

                <div class="form-row">
                    <legend>
                        <span>CVC:</span>
                        <input type="text" size="3" maxlength="3" ng-model="stripePaymentForm.cardCVC">
                    </legend>
                </div>
                <div class="form-row">
                    <legend>
                        <span>price:</span>
                        <input type="text" size="3" ng-model="priceForKeyVerification" disabled>
                        <span>USD</span>
                    </legend>
                </div>

                <center>
                    <div>
                        <small id="paymentHelp"
                               class="form-text text-muted">
                            Payment service provided by <a href="https://stripe.com" target="_blank">Stripe</a>.
                            We do not store your credit card number, exp date or CVC
                        </small>
                        <br>
                    </div>

                    <button id="submitPayment"
                            ng-click="submitPayment()"
                            role="button"
                            type="button"
                            class="submit btn btn-secondary">
                        Submit Payment
                    </button>
                </center>
            </form>
        </div>

    </div>
    <button name="button" class="btn btn-secondary" role="button" ng-click="getOnlineVerification()">
        Next Step >>>
    </button>
    <br><br>
</div>