<div class="container" id="paymentVerification">
    <!-- Alerts: -->

    <div ng-show="paymentVerificationError"
         class="alert alert-danger alert-dismissible"
         role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">×</span></button>
        {{paymentVerificationError.message}}
    </div>

    <div ng-show="paymentVerificationResponse"
         class="alert alert-success alert-dismissible"
         role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">×</span></button>
        {{paymentVerificationResponse.message}}
    </div>

    <!-- Card: -->

    <div class="card">

        <div class="card-header">
            <center>
                <h5>Enter 7 digits code from your credit card bank statement</h5>
                <p>like: 'CRYPTONOMICA 6691170' - input last 7 digits</p>
            </center>
        </div>
        <div class="card-block">

            <form id="payment-form">

                <div class="form-row">
                    <legend>
                        <span>Code:</span>
                        <input type="text" size="12" ng-model="paymentVerificationCode">
                    </legend>
                </div>

                <button ng-click="checkPaymentVerificationCode()"
                        role="button"
                        type="button"
                        class="submit btn btn-secondary">
                    Check code
                </button>
            </form>
        </div>
    </div>
    <button name="button" class="btn btn-secondary" role="button" ng-click="getOnlineVerification()">
        Next Step >>>
    </button>
    <br><br>
</div>