<div id="contextWrap">

    <!-- left sidebar-->
    <left-sidebar></left-sidebar>

    <!--right sidebar-->
    <right-sidebar></right-sidebar>

    <div class="pusher">

        <!--topHeaderMenu -->
        <top-header-menu></top-header-menu>

        <!-- ==== Modal ==== -->
        <div id="modalAcceptTerms" class="ui modal">

            <div class="header">
                To process with registration you have to accept Cryptonomica terms of use:
            </div>

            <div class="content">

                <div class="description">

                    <p>
                        Please read an accept
                        <a href="" ui-sref="privacyPolicy" title="Click to open in new window" target="_blank">Cryptonomica
                            Privacy Policy</a> and
                        <a href="" ui-sref="termsOfService" title="Click to open in new window" target="_blank">Terms of
                            Service</a>
                    </p>
                    <!--<div class="ui header">Important:</div>-->
                    <p><b>Important: </b>
                        as it required by the meaning of our service,
                        verified keys/public keys certificates and user personal data provided for key verification
                        stored for forever and can not be deleted or removed by user's request.
                    </p>

                </div>

            </div>

            <div class="actions">

                <!--<a class="ui red deny button" href="https://accounts.google.com/Logout">-->
                <a class="ui red deny button" ng-click="rejectTerms()">
                    Reject
                </a>

                <div class="ui positive right labeled icon button">
                    Accept
                    <i class="checkmark icon"></i>
                </div>
            </div>

        </div>

        <!-- ==== MAIN SECTION ====  -->


        <div class="mainWrap navslide">

            <div class="ui equal width left aligned padded grid stackable">

                <!--Page Content-->

                <div class="stretched row">

                    <div class="column">

                        <!-- Alerts -->
                        <alerts></alerts>

                        <div class="ui segments">

                            <!-- Breadcrumb -->
                            <div id="breadcrumb" class="ui segment">
                                <div class="ui breadcrumb">
                                    <a class="section">Home</a>
                                    <i class="right angle icon divider"></i>
                                    <a class="active section">Registration</a>
                                    <!--<i class="right angle icon divider"></i>-->
                                </div>
                            </div>


                            <div class="ui segment">

                                <h2><i class="fa fa-user-plus"></i>&nbsp;
                                    Registration
                                </h2>
                            </div>

                            <div class="ui segment" ng-show="!googleUser||currentUser.registeredCryptonomicaUser">
                                <!--<div class="ui segment" ng-show="!googleUser||currentUser.registeredCryptonomicaUser">-->

                                <div ng-show="!googleUser">
                                    <div class="ui negative message">
                                        <div class="header">
                                            You are not logged in
                                        </div>
                                        <p>
                                            Please
                                            <a href="" ng-click="login()">login</a>
                                            with your Google Account to register on Cryptonomica
                                        </p>
                                    </div>
                                </div>

                            </div>

                            <!-- First key upload form BEGIN -->
                            <!-- TODO: add  a choice: 'I have a key' or 'Generate key for me'-->

                            <div class="ui segment" id="firstKeyUpload"
                                 ng-show="googleUser&&!currentUser.registeredCryptonomicaUser">

                                <form class="ui form">

                                    <div class="field">

                                        <h3>For registration upload your public OpenPGP key and some info about you</h3>

                                        <p>
                                            Key should have in "user id": <br>
                                            first name (fist) and last name (after first name) - in English, exactly as
                                            in your passport;<br>
                                            e-mail - the same as you used to log in;<br><br>
                                            Key strength (key size) have to be min 2,048 bits;<br>
                                            Key can be valid not longer than for 2 years;<br>
                                        </p>

                                        <p>You can generate your keys using our
                                            <a href="" ui-sref="openPGPOnline" target="_blank"
                                               title="Generate your keys online">
                                                OpenPGP Online Service
                                            </a>
                                            (create your keys, save as files, and than upload here) or using
                                            <a href="" ui-sref="openPGPSoftware" target="_blank"
                                               title="Click to open list of recommended OpenPGP software">
                                                recommended software
                                            </a>
                                        </p>

                                        <label> Your ASCII-armored
                                            <!--<a href="https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/4/html/Step_by_Step_Guide/s1-gnupg-export.html"-->
                                            <!--target="_blank">-->
                                            OpenPGP public key
                                            <!--</a>-->
                                            (required):
                                        </label>

                                        <input type="file" on-read-file="readFileContent($fileContent)"/>
                                        <textarea rows="5" cols="71"
                                                  class="textAreaWithKey"
                                                  ng-model="regForm.armoredPublicPGPkeyBlock"
                                                  ng-change="verifyPublicKeyData()"
                                                  placeholder="Or paste your key here"
                                                  required>
                                        </textarea>

                                        <!-- key data information / messages start -->
                                        <div id="pgpPublicKeyData" class="ui message" ng-show="pgpPublicKeyData">
                                            <div class="header">
                                                Key Data
                                            </div>
                                            <b>Key ID:</b>&nbsp;{{pgpPublicKeyData.keyId}}<br>
                                            <b>Fingerprint:</b>&nbsp;{{pgpPublicKeyData.fingerprint}}<br>
                                            <b>User ID:</b>&nbsp;{{pgpPublicKeyData.userId}}<br>
                                            <b>Key certificate created:</b>&nbsp;{{pgpPublicKeyData.created}}<br>
                                            <b>Key certificate valid until:</b>&nbsp;{{pgpPublicKeyData.exp}}<br>
                                            <b>Key size:</b>&nbsp;{{pgpPublicKeyData.bitsSize}}<br>
                                        </div>

                                        <div id="pgpPublicKeyDataError" ng-show="pgpPublicKeyDataError"
                                             class="ui negative message">
                                            <!--<i class="close icon" ng-click="pgpPublicKeyDataError=null"></i>-->
                                            <!--<div class="header">Error:</div>-->
                                            <p>{{pgpPublicKeyDataError}}</p>
                                        </div>
                                        <!-- key data information / messages end -->

                                        <label>
                                            Your Birthdate (required):
                                            <p>
                                                <!--<input ui-date="dateOptions" ng-model="regForm.birthday" required>-->
                                                <input ui-date="dateOptions" ng-model="regForm.birthday">
                                            </p>
                                        </label>
                                        <br>
                                        <label>
                                            Info about you (optional):
                                            <p>
                                                <textarea ng-model="regForm.userInfo"></textarea>
                                            </p>
                                        </label>
                                    </div>

                                    <button id="registerNewUserBtn" class="ui positive button"
                                            ng-click="registerNewUser()">
                                        Register
                                    </button>

                                </form>

                            </div>
                            <!-- First key upload form END -->

                            <div class="ui segment"></div>

                        </div>

                        <!-- FOOTER -->
                        <footer-main></footer-main>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

<!-- interface -->
<!--<script src="/app/theme/main.js"></script>-->
