<div id="contextWrap">

    <!-- left sidebar-->
    <left-sidebar></left-sidebar>

    <!--right sidebar-->
    <right-sidebar></right-sidebar>

    <div class="pusher">

        <!--topHeaderMenu -->
        <top-header-menu></top-header-menu>

        <!-- ==== MAIN SECTION ====  -->

        <div class="mainWrap navslide">

            <div class="ui equal width left aligned padded grid stackable">

                <!--Page Content-->

                <div class="stretched row">

                    <div class="column">

                        <!-- Alerts -->
                        <alerts></alerts>

                        <div class="ui segments">

                            <!-- Breadcrumb -->
                            <div id="breadcrumb" class="ui segment">
                                <div class="ui breadcrumb">
                                    <a class="section" href="" ui-sref-active="active" ui-sref="home">Home</a>
                                    <i class="right angle icon divider"></i>
                                    <a class="section">Profiles</a>
                                    <i class="right angle icon divider"></i>
                                    <a class="section" href="" ui-sref-active="active"
                                       ui-sref="viewprofile({userId:key.cryptonomicaUserId})">
                                        {{key.firstName | titleCase }}&nbsp;{{key.lastName | titleCase}}
                                    </a>
                                    <i class="right angle icon divider"></i>
                                    <a class="section" href="" ui-sref-active="active"
                                       ui-sref="key({fingerprint:key.fingerprint})">
                                        {{key.keyID}}
                                    </a>
                                </div>
                            </div>

                            <div class="ui segment">

                                <div id="keyFunctionsButtons">
                                    <!--<div id="keyFunctionsButtons" class="ui buttons">-->

                                    <!-- ( revers order : right floated )-->

                                    <button ng-click="verifyEthereumAccount()"
                                            ng-show="(currentUser && key && (currentUser.userId == key.cryptonomicaUserId))"
                                            class="small ui violet right floated button">
                                        <i class="ethereum icon"></i>&nbsp;
                                        Ethereum Account Verification
                                    </button>

                                    <button id="showVerificationDataBtn"
                                            ng-show="(currentUser && key && (currentUser.userId == key.cryptonomicaUserId)) || (currentUser && currentUser.cryptonomicaOfficer)||(currentUser && currentUser.notary)"
                                            class="small ui teal right floated button"
                                            ui-sref="onlineVerificationView({fingerprint:key.fingerprint})">
                                        <i class="icofont icofont-data"></i>&nbsp;
                                        Show verification data
                                    </button>

                                    <button id="verifyOnlineBtn"
                                            ng-show="(currentUser && key && (currentUser.userId == key.cryptonomicaUserId)) && !key.verifiedOnline"
                                            class="small positive ui right floated button"
                                            ng-click="verifyOnline()">
                                        <i class="fa fa-certificate"></i>&nbsp;
                                        Verify Key Online
                                    </button>

                                </div>

                                <table id="keyDataTable" ng-hide="key.empty" class="ui celled table">

                                    <tbody>
                                    <tr>
                                        <td>keyID</td>
                                        <td>
                                            <a href=""
                                               ng-show="myBookmarks&&myBookmarks.savedKeys&&(!stringIsNullUndefinedOrEmpty(myBookmarks.savedKeys[key.fingerprint]))"
                                               ng-click="removeKeyFromMyBookmarks()"
                                               title="Click to remove this key from bookmarks">
                                                <i class="bookmark icon"></i>
                                            </a>

                                            <a href=""
                                               ng-hide="myBookmarks&&myBookmarks.savedKeys&&(!stringIsNullUndefinedOrEmpty(myBookmarks.savedKeys[key.fingerprint]))"
                                               ng-click="addKeyToMyBookmarks()"
                                               title="Click to add this key to bookmarks">
                                                <i class="bookmark outline icon"></i>
                                            </a>

                                            {{key.keyID}}

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>userID</td>
                                        <td>
                                            <a href=""
                                               title="Show user profile"
                                               ui-sref="viewprofile({ userId: key.cryptonomicaUserId })">
                                                {{key.userID}}
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>fingerprint</td>
                                        <td>{{key.fingerprint}}</td>
                                    </tr>
                                    <tr>
                                        <td>created</td>
                                        <td>
                                            {{key.created}}
                                            <!--{{key.created | date : format : medium}}-->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>expires</td>
                                        <td ng-style="key.expired && {'color':'red', 'font-weight':'bold'}">
                                            <span ng-show="key.expired">expired: </span>
                                            <!--{{key.exp | date}}-->
                                            {{key.exp}}
                                            <!--{{key.exp | date : format : medium}}-->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Bit strength</td>
                                        <td>{{key.bitStrength}}</td>
                                    </tr>
                                    <tr>
                                        <td>Verified offline:</td>
                                        <td>{{key.verifiedOffline||key.verified}}</td>
                                    </tr>

                                    <tr ng-show="key.verificationsWebSafeStrings">
                                        <td>Offline verifications:</td>
                                        <td>
                                            <div ng-repeat="verificationWebSafeString in key.verificationsWebSafeStrings">

                                                <a href=""
                                                   title="Show verification info"
                                                   ui-sref="verification({ verificationWebSafeString: verificationWebSafeString })">
                                                    Show verification info
                                                </a>

                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>Verified online:</td>
                                        <td>{{key.verifiedOnline}}</td>
                                    </tr>

                                    <tr ng-show="key.revoked">
                                        <td style="color: red">Revoked on:</td>
                                        <td style="color: red">{{key.revokedOn}}</td>
                                    </tr>

                                    <tr>
                                        <td>ASCII-armored PGP Public Key</td>
                                        <td>
                                            <!-- -->
                                            <div ng-show="key">
                                                <div ng-hide="key.verifiedOffline || key.verifiedOnline || key.verified"
                                                     class="keynotverified">
                                                    <span>key not verified</span>
                                                </div>
                                                <div ng-show="key.verifiedOffline || key.verifiedOnline || key.verified"
                                                     class="keyverified">
                                                    <span>key verified:</span>
                                                    <span ng-show="key.verifiedOnline">&nbsp;<b>online</b></span>
                                                    <span ng-show="key.verifiedOffline || key.verified">&nbsp;<b>offline</b></span>
                                                </div>
                                                <!--  -->

                                                <!--<button class="btn" ngclipboard data-clipboard-target="#ASCIIarmored">Copy to clipboard</button>-->
                                                <button class="btn" ng-click="copyToClipboard('#ASCIIarmored')">Copy to
                                                    clipboard
                                                </button>
                                                <button class="btn"
                                                        ng-click="saveKeyAsFile('#ASCIIarmored', key.keyID+key.firstName+'.' + key.lastName +'.publicKey.asc')">
                                                    Save as file
                                                </button>

                                                <!-- http://alferov.github.io/angular-file-saver/ -->
                                                <!--<button class="btn" ng-click="download(ASCIIarmored)">Download as file</button>-->
                                                <!--<button class="btn" ng-click="download(key.asciiArmored)">Download as file</button>-->
                                                <div class="textAreaWithKey">
                                                    <pre><code id="ASCIIarmored" title="Public PGP Key">{{key.asciiArmored}}</code></pre>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                    </tr>

                                    </tbody>
                                </table>

                            </div>

                        </div>

                        <!-- FOOTER -->
                        <footer-main></footer-main>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

