<div id="contextWrap">

    <!-- left sidebar-->
    <left-sidebar></left-sidebar>

    <!--right sidebar-->
    <right-sidebar></right-sidebar>

    <div class="pusher">

        <!--topHeaderMenu -->
        <top-header-menu></top-header-menu>

        <!-- ==== MAIN SECTION ====  -->

        <div class="mainWrap navslide">

            <div class="ui equal width left aligned padded grid stackable">

                <!--Page Content-->

                <div class="stretched row">

                    <div class="column">

                        <!-- Alerts -->
                        <alerts></alerts>

                        <div class="ui segments">

                            <!-- Breadcrumb -->
                            <div id="breadcrumb" class="ui segment">
                                <div class="ui breadcrumb">
                                    <a class="section" href="" ui-sref-active="active" ui-sref="home">Home</a>
                                    <i class="right angle icon divider"></i>
                                    <a class="section" href="" ui-sref-active="active" ui-sref="search">Search</a>
                                    <!--<i class="right angle icon divider"></i>-->
                                </div>
                            </div>

                            <div class="ui segment">

                                <h3>Search for users</h3>

                                <!-- messages -->
                                <div ng-show="resp.error.message" class="ui negative message">
                                    {{resp.error.message}}
                                </div>
                                <div ng-show="resp.messageToUser" class="ui positive message">
                                    {{resp.messageToUser}}
                                </div>

                                <!-- search form begin -->
                                <form class="ui form">

                                    <div class="two fields">
                                        <div class="field">
                                            <label for="firstName">First Name:</label>
                                            <input type="text" id="firstName" name="firstName"
                                                   ng-model="form.firstName" autocomplete='given-name'>
                                        </div>
                                        <div class="field">
                                            <label for="lastName">Last Name:</label>
                                            <input type="text" id="lastName" name="lastName"
                                                   ng-model="form.lastName" autocomplete='family-name'>
                                        </div>
                                    </div>

                                    <div class="two fields">
                                        <div class="field">
                                            <label for="email">Email:</label>
                                            <input type="email" id="email" name="email" ng-model="form.email"
                                                   autocomplete='email'>
                                        </div>
                                        <div class="field">
                                            <!---->
                                        </div>
                                    </div>

                                    <button class="ui submit button" ng-click="doSearch()">
                                        Search
                                    </button>

                                </form>

                                <!--  https://docs.angularjs.org/api/ng/directive/ngRepeat#iterating-over-object-properties
                                <div ng-repeat="obj in collection track by $id(obj)">
                                        {{obj.prop}}
                                    </div>
                                see: http://stackoverflow.com/questions/30907131/how-to-make-html-table-from-an-array-with-angular-js  -->
                                <br>
                                <div ng-show="resp.profilesList" id="resultsTable">

                                    <h3>Results:</h3>

                                    <table class="ui celled table">
                                        <thead>
                                        <tr>
                                            <th>Last name</th>
                                            <th>First name</th>
                                            <th>Birthday</th>
                                            <th>Email</th>
                                            <th>Information</th>
                                            <th>More info</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="userProfileGeneralView in resp.profilesList">
                                            <td>{{userProfileGeneralView.lastName | titleCase}}</td>
                                            <td>{{userProfileGeneralView.firstName | titleCase}}</td>
                                            <td>{{userProfileGeneralView.birthday | date}}</td>
                                            <td>{{userProfileGeneralView.email}}</td>
                                            <td>{{userProfileGeneralView.userInfo}}</td>
                                            <td>
                                                <a href=""
                                                   ui-sref="viewprofile({ userId: userProfileGeneralView.userId})">
                                                    Show Profile
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>

                        </div>

                        <!-- FOOTER -->
                        <footer-main></footer-main>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

