<div>
    <header-main-menu></header-main-menu>
    <navigation-menu></navigation-menu>

    <div class="card card-block">

        <h3>Search for users:</h3>
        <!--  -->
        <div ng-show="resp.error.message" class="alert alert-danger" role="alert">
            <!--            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
            -->
            {{resp.error.message}}
        </div>
        <div ng-show="resp.messageToUser" class="alert alert-success" role="alert">
            <!--            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
            -->
            {{resp.messageToUser}}
        </div>

        <!-- search form begin -->
        <form>
            <fieldset class="form-group">
                <label for="firstName">First Name</label>
                <div class="row">
                    <div class="col-xs-5">
                        <input type="text" class="form-control" id="firstName" name="firstName"
                               ng-model="form.firstName">
                    </div>
                    <div class="col-xs-5">
                        <!--{{form.firstName}}-->
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <label for="lastName">Last Name</label>
                <div class="row">
                    <div class="col-xs-5">
                        <input type="text" class="form-control" id="lastName" name="lastName" ng-model="form.lastName">
                    </div>
                    <div class="col-xs-5">
                        <!--{{form.lastName}}-->
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <label for="email">email</label>
                <div class="row">
                    <div class="col-xs-5">
                        <input type="email" class="form-control" id="email" name="email" ng-model="form.email">
                    </div>
                    <div class="col-xs-5">
                        <!--{{form.email}}-->
                    </div>
                </div>
            </fieldset>

            <button
                    type="button" role="button"
                    class="btn btn-secondary"
                    ng-click="doSearch()">Search
            </button>

        </form>
        <!-- search form end -->
        <br>
        <h3>Search for a key:</h3>
        <form>
            <label for="fingerprint">Fingerprint</label>
            <fieldset>
                <div class="row">
                    <div class="col-xs-5">
                        <input type="text" class="form-control" id="fingerprint" name="fingerprint"
                               ng-model="fingerprint">
                    </div>
                    <div class="col-xs-5">
                        <!--{{form.firstName}}-->
                    </div>
                </div>

                <!--<button type="submit" class="btn btn-default" ng-click="doSearch()">Search</button>-->
                <div>
                    <a class="btn btn-secondary" type="button"
                       href="/#/key/{{fingerprint}}"
                       role="button">Search
                    </a>

                </div>
            </fieldset>
        </form>

        <!--  https://docs.angularjs.org/api/ng/directive/ngRepeat#iterating-over-object-properties
        <div ng-repeat="obj in collection track by $id(obj)">
                {{obj.prop}}
            </div>
        see: http://stackoverflow.com/questions/30907131/how-to-make-html-table-from-an-array-with-angular-js  -->
        <br>
        <div ng-show="resp.profilesList" id="resultsTable">
            <h3>Results:</h3>
            <table class="table table-bordered table-hover">
                <!-- for Bootstrap 4 table see:
                http://www.quackit.com/bootstrap/bootstrap_4/tutorial/bootstrap_tables.cfm -->
                <thead class="thead-default">
                <tr>
                    <th>Last name</th>
                    <th>First name</th>
                    <th>Birthday</th>
                    <th>email</th>
                    <th>Information</th>
                    <th>More info</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="userProfileGeneralView in resp.profilesList">
                    <td class="capitalize">{{userProfileGeneralView.lastName}}</td>
                    <td class="capitalize">{{userProfileGeneralView.firstName}}</td>
                    <td>{{userProfileGeneralView.birthday | date}}</td>
                    <td>{{userProfileGeneralView.email}}</td>
                    <td>{{userProfileGeneralView.userInfo}}</td>
                    <td>
                        <!--<a href="/#/viewprofile/{{userProfileGeneralView.userId}}" ng-click="">Show Profile</a>-->
                        <a href="" ui-sref="viewprofile({ userId: userProfileGeneralView.userId })">Show Profile</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <footer-main></footer-main>
</div>
